[2014-11-14 18:48] dmolsen opened #1 "WCAG Greys"
Try out some WCAG colors just to see what might work in the new edition.

+@dcmouyard

[2014-11-23 15:49] dcmouyard commented on #1
I recommend using http://leaverou.github.io/contrast-ratio and aim for a minimum contrast ratio of 7.

Are there specific color combinations you’re looking for?

[2014-11-24 02:01] bradfrost commented on #1
We're talking for the nav bar and the list view? I'm definitely open to lightening the font size up a bit, but don't want to overpower the core content, which isn't Pattern Lab itself.

[2016-03-30 21:30] mpdude opened #4 "Improve modularity"
I have been trying to integrate PL (PHP/Twig-based) with an existing project. My goal is to use PL as a styleguide generator and be able to document existing Twig templates, macros and includes.

One issue I am facing is that currently PL does not work well when it is installed as a "pure" Composer dependency. That is, all parts like`core`, `patternengine-twig` and `styleguidekit-assets-default` e

[2016-04-06 20:07] dmolsen commented on #4
StyleguideKit is the "viewer" assets. So it's primarily the JS and CSS that makes up the iFrame that wraps the list of patterns and individual patterns (e.g. top bar nav, pop-up modals). Regarding your suggestions:

1) I use `gulpfile.js` as I develop and refine the viewer. I'm really not sure why it'd be used outside that context. Apart from customizing your own StyleguideKit and then... well, yo

[2016-04-07 08:26] mpdude commented on #4
Dave,

no matter if you use PatternLab `core`, `-php`, the Node variant or maybe some custom built solution (as I might need to build for Symfony based projects): They all would benefit if they could simply re-use `styleguidekit-assets-default`, as you guys have done a :+1: job here and we should not underestimate the amount of work and thought necessary to build this presentation front-end alone.

[2016-04-08 22:14] mpdude opened #5 "What files and data is needed to run this?"
I'd like to better understand the data and file layout this styleguide kit needs to run.

First, there is (relative to `index.html`) the `styleguide/data/patternlab-data.js` file that needs to initialize some JavaScript vars. I will try to document that, but at the moment it seems it does not need all the data/keys put in there by (for example) patternlab-twig-se.

Then, there are also some hardco

[2016-04-11 15:02] dmolsen commented on #5
@mpdude -

Submit a PR for your ideal code and we'll look at it. I get what you're saying. This is partly a holdover from old code and only having so much time to clean-up quickly written code.

[2016-04-19 04:50] bmuenzenmeyer opened #6 "Improve Annotations/Code View Overflow"
I found a [couple](https://github.com/pattern-lab/patternlab-node/issues/198) [references](https://github.com/pattern-lab/patternlab-php/issues/301) to making this better, but lacking an official home, I am making one here on what I think is the right repo. Close as a duplicate if a better one exists.

Two problems:
1. A user cannot scroll within the info-viewer to see more annotations
2. A user c

[2016-04-19 14:11] dmolsen commented on #6
Right repo. I've marked this as a bug. Thanks.

[2016-05-07 05:44] EvanLovely opened #7 "Add menu toggle for pattern descriptions from Markdown"
When a pattern (i.e. `colors.twig`) has a sidecar description file (i.e. `colors.md`), it will show above the pattern, wrapped in a div with a class of `sg-pattern-desc`. It would be great if the menu could have a toggle to show/hide those, right next to Annotations & Code.

![2016-05-06 at 10 43 pm](https://cloud.githubusercontent.com/assets/569699/15090408/033161f6-13dc-11e6-9fc3-ef398de92f8b.pn

[2016-05-07 09:04] bradfrost commented on #7
Hey @EvanLovely,
This design and behavior is going to be consolidated a bit. It's going to be combined into a "Show/hide pattern info" label that will expose/hide the pattern info: title, description, code, lineage, annotations. Stay tuned!

[2016-05-07 17:12] EvanLovely commented on #7
Sounds good to me; can't wait to see the new hotness!

[2016-05-07 17:12] #7 closed, assigned to nobody

[2016-05-17 00:47] EvanLovely opened #8 "Remove Mustache Code"
There is Mustache specific code in `src/html/index.html` in both [`master`](https://github.com/pattern-lab/styleguidekit-assets-default/blob/master/src/html/index.html) and [`dev`](https://github.com/pattern-lab/styleguidekit-assets-default/blob/dev/src/html/index.html) branches that is making it's way to the Twig Editions. Even though we have pattern-lab/styleguidekit-twig-default as a styleguide

[2016-05-17 11:35] bmuenzenmeyer commented on #8
FWIW - the Node version is also using configurable paths on many assets that get shuffled around for a couple versions now, making consumption simpler. I expect the pattern to work for this repo even too, especially after https://github.com/pattern-lab/styleguidekit-assets-default/pull/4 is supported.

That doesn't address the core concern of mustache being in a shared repo. On the Node side, we h

[2016-05-17 13:26] dmolsen commented on #8
In no way should `index.html` from this repo get consumed by a Pattern Engine. This is entirely front-end and uses [Hogan.js](http://twitter.github.io/hogan.js/) to parse the templates embedded in `index.html`. This is just the viewer/wrapper for PL.

If it's a matter of "no 'mustache' ever in a Twig edition" then you're going to have to develop your own viewer. That's entirely possible. I had to

[2016-05-17 21:27] EvanLovely commented on #8
OK, now that I realize it's Hogan.js templates and they're rendering fine and not Mustache templates (even though basically same syntax), we're good! Thought it was a mistake; carry on!

[2016-05-17 21:27] #8 closed, assigned to nobody

[2016-05-22 23:58] dmolsen commented on #5
I'm not sure we're going to ever get to the point where this is entirely agnostic from PL. It's not meant to be that generic. Honestly, I don't think my code is that great to be worthy of being used in a project agnostic way.

[2016-05-22 23:58] #5 closed, assigned to nobody

[2016-05-23 01:01] dmolsen opened #11 "Style Updates"
@bradfrost -

I've pushed the latest mark-up changes to `feature-panels` that you wanted. Now the modal pop-up and style guide view share the same layout. They're _not_ well-styled so they look a bit jumbled. I think I nuked a class that held things together better. Sorry.

To make changes to this you're going to need to get the latest development edition installed running the `feature-panels` bra

[2016-05-23 01:02] dmolsen opened #12 "Add try/catch on the iframemessage calls"
Add a try/catch on the JSON.parse in the iframemessage calls. Not everything sent will be PL-related JSON strings. Fail silently.

[2016-05-23 01:03] dmolsen opened #13 "Add Support for Annotations"
Make annotations part of the panels.

[2016-05-23 01:05] dmolsen opened #14 "Add Support for Setting Prism Language Styles"
Need to figure out a way to load Prism language styles.

[2016-05-23 13:09] bmuenzenmeyer commented on #11
Really excited for this! Thanks for all the hard work so far Dave / Brad!

[2016-05-23 13:33] bradfrost commented on #11
Awesome, thanks for this @dmolsen. I'm going to take a look later on today.

[2016-05-24 19:05] dmolsen opened #17 "Add "Publish Release" doc"
Add a `./docs` dir and document how to push a release so PHP and Node can take advantage of it.

[2016-05-25 01:01] EvanLovely opened #18 "Search is not working"
I believe it's because the HTML element is using a class of `sg-find` and the JS in `src/pattern-finder.js` is looking for an ID of `sg-find`. When I change `#sg-find` to `.sg-find` in that file (and recompile and place those files in the appropriate place in `public/`) I get this error after clicking in the search field in the console:

[code]

[2016-05-25 01:21] bmuenzenmeyer commented on #18
I'll have to double check, but I thought search was working for me on the
feature-panel branch. Have you tried that yet Evan?

Checked... at one point I had tested it successfully.
https://github.com/pattern-lab/edition-node-gulp/issues/2

On Tue, May 24, 2016, 8:01 PM Evan Lovely notifications@github.com wrote:

[2016-05-25 03:22] bradfrost commented on #11
@dmolsen Thanks so much for the detailed instructions! I was able to get everything up and running.

Here's where I'm getting stuck.
<img width="497" alt="pattern lab" src="https://cloud.githubusercontent.com/assets/383701/15527137/d64a6006-2205-11e6-884d-fe436d409956.png">

I'm not sure if there's something I'm doing wrong, but I'll try to dig in deeper.

[2016-05-25 14:22] dmolsen commented on #11
@bradfrost -

I guess I skipped a step. 18 should have been `gulp --copy-dist ../../../public`. The `feature-panels` work needs to be copied to `./public` at least once. Then you should be good to go.

[2016-05-25 14:30] bradfrost commented on #11
YES! Alright I'm up and running. Time to style some stuff.

[2016-05-25 14:33] bmuenzenmeyer commented on #18
Double-checked this morning. Working as expected since https://github.com/pattern-lab/edition-node-gulp/issues/14 was commented on. `feature-panels` branch

[2016-05-25 14:44] dmolsen commented on #18
LOL. Just fired this up too, @bmuenzenmeyer . Yup, working in `feature-panels` so we'll have to wait on that for a fix. Brad is working on styles in support of #11. I still need to do #13 and #12 for that to be completely ready. Sorry, @EvanLovely .

[2016-05-25 15:25] EvanLovely commented on #18
No worries; added issue to bring awareness to it more than anything. As long as the fix is in the pipeline I'm happy! 😀👍🏼

[2016-05-25 15:29] #18 closed, assigned to nobody

[2016-05-25 18:36] bradfrost commented on #11
@dmolsen scratching my head on this. I'm looking to add a class to the pattern title. It's rendering on the frontend as an `<h3>` but can't find an `<h3>` anywhere in the file system.

Looking at `base-template.html`, I see this:

[code]

But making changes to that doesn't do anything. Any ideas on where I should be editing?

[2016-05-25 18:41] dmolsen commented on #11
You should edit the only code that's _not_ in StyleguideKit assets. It's in `vendor/pattern-lab/styleguidekit-mustache-default/`. I think it's `patternSection.mustache`.

[2016-05-25 18:55] bradfrost commented on #11
Awesome thanks!

[2016-05-26 02:04] bradfrost opened #19 "Move Pattern State Beside Title"
@dmolsen,
Question: how hard would it be to move pattern status to be beside the pattern title, like so:

<img width="1154" alt="pattern lab" src="https://cloud.githubusercontent.com/assets/383701/15561434/c76c4ef0-22c3-11e6-8ce8-f544c34ea9c9.png">

Hard?

The thinking is that if people are using the pattern state feature, it would be good to have that info at-a-glance in scroll view. It also free

[2016-05-26 03:06] bradfrost commented on #11
Alright, I've pushed my initial style changes to the panels, but ended up adding a whole slew of comments to the CSS and refactored a few things along the way.

@dmolsen, on the pattern detail pages I'm not able to get the pattern info to show up. I'm guessing it's because I messed with some of the structure and naming in `base-template.html`. Before there were a few floating `<div>`s floating aro

[2016-05-26 13:51] dmolsen commented on #11
@bradfrost -

Looks like I was hooking into the outermost `div` to do some manipulation/insertion. I can build that in JS instead. That would be cleaner. Will do that today.

[2016-05-26 13:57] dmolsen commented on #19
Not hard. I think you can put the following in styleguidekit mustache:

[code]

Let me know how that works out for you. If it works then add it to the `{{# isPatternView }}...{{/ isPatternView }}` block in styleguidekit assets base-template so it's consistent.

[2016-05-26 15:51] bradfrost commented on #19
Alright awesome I'll give that a shot!

On Thursday, May 26, 2016, Dave Olsen notifications@github.com wrote:

##

---

Brad Frost
http://bradfrost.com
http://twitter.com/brad_frost

[2016-05-26 17:32] dmolsen commented on #11
@bradfrost -

I've built that extra `div` into the JS proper. Please do a `git pull` and `gulp --copy-dist ../../../public`.  Thanks.

[2016-05-31 17:10] bradfrost commented on #19
FYI, I've moved this beside the title and committed it. Unfortunately I'm not able to get it to appear, so I'm going to assign it to you to see why that's happening.

[2016-05-31 17:34] bradfrost commented on #11
@dmolsen @bmuenzenmeyer Alright, here's an update on the UI code. Right now, here's what the pattern info panel looks like on the view all page:

<img width="761" alt="pattern lab" src="https://cloud.githubusercontent.com/assets/383701/15683559/0d53244a-2731-11e6-8aa9-e266bff4f212.png">

A few notes:
- The tabs for the code panels need to match the Prism code highlighting. So if we decide to switc

[2016-05-31 17:44] bmuenzenmeyer commented on #11
I love the progress Brad! Thanks for sharing. A couple questions / comments:
- Ccan the code view indentation be shortened to reduce horizontal whitespace?
- I've worried about what this looks like with longer pattern descriptions? Sounds like you wonder that too, alluding to not running against actual data. It depends I guess with how content people want to annotate patterns with I suppose.
- Are

[2016-05-31 17:59] bradfrost commented on #11
@bmuenzenmeyer

Good question. I'm not sure how the Prism stuff works and also don't know if there's a way to sanitize that code before it gets injected into the UI. @dmolsen, any ideas?

Here's a rough idea of what that would look like:

<img width="1141" alt="window" src="https://cloud.githubusercontent.com/assets/383701/15684948/8cdc9998-2737-11e6-900d-0dc9d46ab129.png">

I've flexboxed the cod

[2016-05-31 18:05] bmuenzenmeyer commented on #11
@bradfrost thanks for the quick response and demo. I think this is acceptable. Let people be as verbose as they want.

[2016-05-31 18:06] bmuenzenmeyer commented on #11
is it controllable via https://developer.mozilla.org/en-US/docs/Web/CSS/tab-size ???

[2016-05-31 18:12] dmolsen commented on #19
it'd be good if i was setting `patternState`. please do a `git pull` in `vendor/pattern-lab/core`. then run a `php core/console -g`.

[2016-05-31 18:26] dmolsen commented on #11
Not sure what's meant by "sanitizing code". The [Prism.js docs](http://prismjs.com) in case there's anything there to help with styling features. It's just CSS so I think inspecting it will give you all an idea of what you might want to change to get the look you want.

If you want to add a description for `00-colors.mustache` simply create a `00-colors.md` and add the following:

[code]

This isn

[2016-05-31 18:41] bradfrost commented on #11
@bmuenzenmeyer thanks for the tips re: `tab-size`. That and some `display` settings did the trick. What do you think of this?

<img width="883" alt="pattern lab" src="https://cloud.githubusercontent.com/assets/383701/15686276/8881efc8-273d-11e6-95fc-7b031b83a042.png">

I set `tab-size: 2`, but we can adjust it to whatever we want. Like 17.

<img width="883" alt="pattern lab" src="https://cloud.git

[2016-05-31 18:45] dmolsen commented on #11
+1 on 17.

[2016-05-31 18:47] bradfrost commented on #11
@dmolsen question about the pattern description: does it support markdown? As in, can there be paragraphs, links, bold, italic, etc in there?

[2016-05-31 19:01] dmolsen commented on #11
@bradfrost -

Yup. It's a markdown file with YAML front matter (_the bit between `---`_).

[2016-05-31 19:08] bmuenzenmeyer commented on #11
AFAIK, last check of `edition-node-gulp` this weekend, description was parsing markdown into `{{{patternDesc}}}`

and I think 17 works for `tab-size` too :wink:

[2016-05-31 19:15] geoffp commented on #11
Guys, this looks great! Can we have a disco mode for indentation? Just whiplash back and forth between zero and 17.

Joking aside, this two-column tabbed layout is so comfortable that I almost want it to be open by default.

[2016-05-31 19:20] dmolsen commented on #11
@geoffp -

Have @bmuenzenmeyer add a config option to the spec ;) It's not a bad idea.

[2016-05-31 19:22] bradfrost commented on #11
@dmolsen @geoffp @bmuenzenmeyer Perhaps the option could persist similar to the viewport size. Once the pattern info panels are opened, they'll stay open even if the page is refreshed.

[2016-05-31 19:33] bmuenzenmeyer commented on #11
will add - I now have 6 things to bring up when I get time :clock1:

[2016-05-31 19:40] dmolsen commented on #11
@bmuenzenmeyer -

Not exactly critical ;)

[2016-05-31 19:41] dmolsen commented on #11
@bradfrost -

In `styleguidekit-assets-default` try another `git pull` and `gulp --copy-dist=../../../public`

[2016-05-31 19:59] geoffp commented on #11
Yeah, not important but it makes me want to write up a thing with real UX personas based on the different kinds of people that look at our rather large and poorly documented pattern library. It would be interesting to think through what they need and how they get it.

[2016-05-31 20:00] bradfrost commented on #11
@dmolsen awesome it's showing up now! Stay tuned.

[2016-06-01 01:36] bradfrost commented on #11
Alrighty, status update on the modal styles:

![pattern lab - molecules-media-block](https://cloud.githubusercontent.com/assets/383701/15695517/0a4b24f6-2776-11e6-8490-a4ccd8fd926d.png)
- The two panels are independently scrollable, so if you have a crazy long description you can scroll through that while still seeing the whole code block.
- I added an 'X' icon instead of the 'Close' text label to

[2016-06-01 01:58] bmuenzenmeyer commented on #11
This is great! One minor thing I noticed at one point was it was hard to
copy all code to paste.  This is sometimes tricky cross browser without
flash or the like... but some libraries exist.  Is this a feature to
support?

On Tue, May 31, 2016, 8:36 PM Brad Frost notifications@github.com wrote:

[2016-06-01 02:06] dmolsen commented on #11
Two thumbs up, Brad. Nice job.

I'm open to "click to copy" but you're right it involves a bit to get it to work. PRs welcome.

My solution had been supporting a select all and then a user can use regular copy. That's not currently in feature-panels since it was a rewrite and I was focused on getting brad through styling.

[2016-06-01 02:13] bradfrost commented on #11
I'd say that's a nice to have feature. Not critical to get 2.0 out the door, but worth throwing up as an issue.

[2016-06-01 08:42] bmuenzenmeyer commented on #11
This looks promising https://clipboardjs.com/ but I agree with Brad - a separate issue is smart.

Created https://github.com/pattern-lab/styleguidekit-assets-default/issues/20

[2016-06-01 08:45] bmuenzenmeyer opened #20 "Implement Copy to Clipboard Support for Code View Panes"
As a designer/developer, I'd like to be able to quickly copy/paste pattern HTML or template code, so that I may more easily use the pattern in other systems.

---

https://clipboardjs.com/ looks like an option with some nice HTML-based declarative set of options or an API. Good browser support too.

[2016-06-01 13:59] bmuenzenmeyer opened #21 "Style enhancement: Collapse sg-pattern-extra-info when no info present"
I have a suggestion for consideration to the frontend.
When a pattern does not have lineage, or a description, it would be nice if the code view could oocupy all available pattern info space.

![image](https://cloud.githubusercontent.com/assets/298435/15712192/06460e14-27d7-11e6-9a02-968d86144a64.png)

This should be achievable with CSS alone, using [:empty](http://caniuse.com/#feat=css-sel3) and

[2016-06-01 14:11] bmuenzenmeyer opened #22 "Show Pattern Info Toggle Does Not Close All Patterns' Pattern Info Panes"
Once you use the top-right gear menu to display every pattern's pattern info, the same control should toggle them all closed again. This does not occur, and no js errors fire.

Confirmed with @dmolsen

I will have time to look at this Friday 6/3 if not resolved by then.

![image](https://cloud.githubusercontent.com/assets/298435/15712639/c246f82a-27d8-11e6-9b09-5cf1e354137f.png)

[2016-06-01 14:32] bradfrost commented on #21
Yep I agree, and was trying to do that on my end. I'm just not sure what Mustache code to wrap things in.

Essentially, we'd need to wrap the `sg-pattern-extra-info` div in a condition that would display false if no description or lineage exists. We'd then change `.sg-pattern-extra-code`'s styles to remove `width: 60%`. That should be it.

[2016-06-01 14:34] bradfrost commented on #21
Unfortunately, `:empty` doesn't work because of the carriage returns. If I could figure that out, we could do it purely in CSS.

[2016-06-01 14:37] bmuenzenmeyer commented on #21
hmm - maybe i'm just missing something on my end then, or devtools is giving me false positives, because applying the following directly to `sg-pattern-extra-info`

[code]

does appear to allow `.sg-pattern-extra-code` to `flex` to the full width, despite having a declared with of 60%

I'll admit though I didnt actually fire this up locally with a proper `:empty` selector :frowning:

sounds like w

[2016-06-01 14:39] bradfrost commented on #21
Would have to set it to `display: none`. If an item is flexed, the `width` property behaves differently.

[2016-06-01 14:46] bmuenzenmeyer commented on #21
`.sg-pattern-extra-inner` looks to stretch it's children. `display: none;` works too :+1:

Sounds like you are okay with the idea in concept, so if you don't get to it by Friday I will try to code something and submit a PR for review then.

[2016-06-01 15:30] dmolsen commented on #21
This should be fixed. There was a `descBlockExists` check in the template but I wasn't properly setting it. I've fixed that so it is set to false when appropriate. `git pull && gulp --copy-dist=../../../public` should make it work the way folks expect it to. Someone double-check me and then we can close.

[2016-06-01 15:33] dmolsen commented on #21
Welp, that sort of mucks with the pop-up modal. I'll add a fix for that so it works in both places.

[2016-06-01 16:55] dmolsen commented on #21
Try 2 pushed.

[2016-06-01 17:07] dmolsen commented on #11
I have two more style issues that need to be addressed. Sorry.

### Panel Toolbar

The first would be we need a way to have a simple toolbar inside a panel. So if we were to do #20 the button needs someplace to live. Also, with annotations as a panel we need a way to fire off "show them numbered on the pattern" like how it works now. @bradfrost , you can just mock-up a three item list inside [this

[2016-06-01 17:13] bmuenzenmeyer commented on #21
I can check later if no one gets to it

On Wed, Jun 1, 2016, 11:55 AM Dave Olsen notifications@github.com wrote:

[2016-06-01 17:15] bmuenzenmeyer commented on #11
I did see references to those subtypes in type code somewhere.  Excited to
get that into PL/Node too soon!

On Wed, Jun 1, 2016, 12:07 PM Dave Olsen notifications@github.com wrote:

[2016-06-02 15:01] dmolsen opened #23 "Implement Support for "Pattern Info Toggle Persistence / Default""
See pattern-lab/the-spec#15

[2016-06-03 10:33] bmuenzenmeyer commented on #22
Sorry closed the wrong issue

[2016-06-03 13:23] bmuenzenmeyer commented on #21
This looks fixed per a65ab5d5ff921d32851b66430ad567a07b8aa05e and 0f800c48c25126d07998fd89c712911b3032e004 thanks @dmolsen

[2016-06-03 13:23] #21 closed, assigned to nobody

[2016-06-03 14:22] dmolsen commented on #22
There's no code that actually closes those panels so... yeah, it's not going to work. I had the pop-up modal covered but not the patterns. I need to pass an event to the iframe that will do this. So on my TODO list.

[2016-06-03 20:54] dmolsen commented on #11
@bradfrost -

Here's what I was thinking for the "toolbar" within a panel. I'm pretty sure I can populate it via JSON but I need the stubbed out mark-up and styles to work from. Thanks.
<img width="1005" alt="screen shot 2016-06-03 at 4 52 35 pm" src="https://cloud.githubusercontent.com/assets/2746/15792533/d151b3b2-29ab-11e6-94df-0b8679d75484.png">

[2016-06-04 01:29] dmolsen commented on #22
Just committed this to `feature-panels`. Nav also toggles wording now. Double-check me please.

[2016-06-04 01:43] bmuenzenmeyer commented on #22
@dmolsen confirmed, works.

[2016-06-04 01:51] #22 closed, assigned to dmolsen

[2016-06-05 19:07] bmuenzenmeyer commented on #19
I think this is done unless more styling needs to occur

[2016-06-06 01:19] bradfrost commented on #19
Yep I think that's good to go.

[2016-06-06 01:19] #19 closed, assigned to dmolsen

[2016-06-06 04:03] bradfrost commented on #11
@dmolsen Hmmm, alright. I think I see what you're getting at, but don't know if I'm on board with the placement of things.

Regarding the Copy to clipboard placement, I was thinking it would be more of a absolute positioned element that's commonly seen on code snippets. Something along the lines of [this](http://tutsplus.github.io/clipboard/).

As for the annotations, I feel like that information

[2016-06-06 15:36] dmolsen commented on #11
@bradfrost -

Go ahead and create your mark-up for annotations on the left-side then. Because it's "core" i can work it a couple of different ways.

To be clear, panels can't/won't only be code. They're the only place I can create a hook to include content generated by plug-ins. KSS for example would be "text-heavy" as opposed to strictly code. We will end up with Mustache, HTML, KSS tabs after th

[2016-06-06 23:49] dmolsen commented on #12
Fixed.

[2016-06-06 23:49] #12 closed, assigned to dmolsen

[2016-06-07 00:07] dmolsen commented on #11
@bradfrost -

I fixed a couple of bugs. Please make sure to run `git pull` before working again. Thanks.

[2016-06-07 03:34] bradfrost commented on #11
Heyo,
Sorry I'm just now getting around to answering.

Got it! Although I'd say KSS is related to code, I get the idea. Any extensions will appear over there.

Totally hear you. I have an idea on how to lay things out, so I'll put together a prototype so we can explore the options. Just letting you know my schedule this week is totally booked but I'm going to try to squeeze it in.

[2016-06-15 15:20] bradfrost commented on #11
Alrighty, here's what I've come up with for styling the annotations:

![pattern lab - pages-homepage](https://cloud.githubusercontent.com/assets/383701/16085455/1df9e9fe-32ea-11e6-9d00-901a899e91c0.png)

Again, I feel like including annotations on the left is a good idea as it's very related to the pattern description and info. The idea is that switching on annotations would scroll that panel to t

[2016-06-15 17:15] dmolsen commented on #11
This has me lost. How does someone "turn on annotations"? The only hook we have is "show pattern info." I figured that meant show annotations in the info area 100% of the time when the pattern info is shown. That's totally doable. The trick becomes when to toggle the numbers on in the pattern view. You could add a "show" link next to the "Annotations" title or similar which would toggle that.

Oth

[2016-06-15 17:20] bradfrost commented on #11
Ah yeah, my bad. Yep, I think displaying annotations with the rest of the documentation by default is a great way to go. Forgive me, I was still thinking in PL1 terms.

[2016-06-17 21:09] dmolsen commented on #11
@bradfrost -

I noticed in your new annotations block that we don't need titles. In PL1 it's:

[code]

In the latest push to `feature-panels` it's:

[code]

If we're ditching titles then Brian and I need to update code/docs. It's not a huge issue from a code perspective because we can silently ignore the attribute. From a docs/workshop perspective we'll want to get that nailed down.

Also, in refe

[2016-06-17 21:33] bradfrost commented on #11
@dmolsen ah, apologies on the lack of title. Let's do:

[code]

We'll keep them inline with the rest of the text.

Sounds good!

[2016-06-20 02:12] dmolsen commented on #11
@bradfrost -

All of these changes are now in `dev`. If you want to see them I think it's easiest to start fresh. Brian and I made a big change with `styleguide-specific.css` and it's just easier to go brand-new.
1. Figure out where you're going to install it
2. Run `composer create-project pattern-lab/edition-development dev-review`
3. Wait for it to finish installing then...
4. `cd dev-review/ve

[2016-06-20 17:11] bradfrost commented on #11
@dmolsen this is awesome news! Congrats.

"The latter" refers to the "view all" view? I'm having a hard time visualizing this. It's gonna be a bit late for me to get to this, but I'll pull this down later tonight.

[2016-06-20 17:18] dmolsen commented on #11
@bradfrost -

Yeah, the "view all" view. I think it'll make more sense once you try to scroll through it. Also forgot to mention that I had to tweak the layout of annotations a little bit more. We had `<p></p>` tags in the description. This was in `annotations.js` plus when annotations are generated from Markdown files. Not a big issue. It's just now:

[code]

Again, should make sense when you see

[2016-06-21 18:23] dmolsen commented on #23
Complete.

[2016-06-21 18:23] #23 closed, assigned to dmolsen

[2016-06-21 18:23] dmolsen commented on #13
Complete.

[2016-06-21 18:23] #13 closed, assigned to dmolsen

[2016-06-29 02:42] andrewnorell opened #24 "Cannot select/focus `<input>`s and `<select>`s within PL iFrame"
Hi there — thanks for working hard on various new iterations of PatternLab, particularly the Gulp edition!

I noticed a bug with my `<select>` and `<input>` elements, only when they were being accessed via the PatternLab iFrame. I couldn't seem to select them or get them to keep focus when clicking on them.

I tracked down the issue to the `body[0].onclick` function that starts at line 50 within `

[2016-06-29 03:44] dmolsen commented on #24
@andrewnorell -

Did you use any flavor of PL1 and do something similar with select/input? Is the select/input vanilla or have you attached JS to the elements? This bit of code has been around for years. I'd like to keep it but maybe I need to figure out a way to scope it a little bit better. Thanks.

[2016-06-29 03:52] andrewnorell commented on #24
@dmolsen — great questions, thanks! I'll try doing separate, fresh installs of edition-node-gulp and patternlab-node, and see if I can consistently recreate the issue, just to make sure it's not something awry with my current project.

[2016-06-29 04:02] andrewnorell commented on #24
@dmolsen - I was able to recreate the issue just now, on a fresh vanilla install of edition-node-gulp, with no code of my own.
Here's the steps I took:
- `git clone https://github.com/pattern-lab/edition-node-gulp.git`
- `cd edition-node-gulp`
- `sudo npm install`
- `gulp patternlab:serve`
- Opened http://localhost:3000/?p=atoms-text-inputs and http://localhost:3000/?p=atoms-select-menu, was unabl

[2016-06-29 04:23] bmuenzenmeyer commented on #24
I've confirmed this behavior - Dave is this happening in PL/PHP too?

[2016-06-29 04:23] bmuenzenmeyer commented on #24
I've confirmed this behavior - Dave is this happening in PL/PHP too?

[2016-06-29 04:23] bmuenzenmeyer commented on #24
I've confirmed this behavior - Dave is this happening in PL/PHP too?

[2016-06-29 12:21] mremergo opened #25 "Top-navigation is not working after insertion of own patterns"
Hi everyone,
My problem is that since I inserted my own patterns into a new patternlab-node clone, the top menu of patternlab doesn't work anymore. The pattern-structure with all subfolders is properly displayed and the link's href attributes seem to be alright. At some point of the links eventchain the redirection is stopped. I get no related console output, not in the site generation debug proce

[2016-06-29 13:16] bmuenzenmeyer commented on #25
@mremergo can you also provide a screenshot of the filestructure inside `source/_patterns/` please?

[2016-06-29 14:06] mremergo commented on #25
Just the folders
![folder_structure](https://cloud.githubusercontent.com/assets/11991703/16455063/5d13623a-3e13-11e6-90ea-9173c84a885b.jpg)
folders and files
![pattern_structure_with_files](https://cloud.githubusercontent.com/assets/11991703/16455074/623f8fea-3e13-11e6-973d-8a5e5fe6fa41.png)

[2016-06-29 14:25] dmolsen commented on #25
@mremergo -

I think it might be an issue with `patternPaths`. Mind copying in `var patternPaths` too, please? I'm going to try to recreate this deep level of patterns in PL/PHP to see if I can get to this bug. I know my testing didn't go that far. I realize you're using Node but it might be a common problem across both platforms.

[2016-06-29 14:26] bmuenzenmeyer commented on #25
An important note - `meta` should be outside of `_patterns` as of 2.0.0.  See [these upgrade instructions](https://github.com/pattern-lab/patternlab-node/wiki/Upgrading#upgrading-from-pattern-lab-1x-to-2x) for my running list of things to do during migration.

Or have you just named your own directory meta as well as having the similarly named directory as a sibling of `_patterns/`?

00-atoms > 02

[2016-06-29 14:49] dmolsen commented on #24
This doesn't pop-up on Safari 9.1 hence why I never noticed it. Obviously happening in Chrome. This is a convenience thing as opposed to something that's necessary for PL to work. It ensures that the nav is closed on click even if it that click is inside the iFrame. If can't quickly fix it I'll just comment it out and post it with tonight's release.

[2016-06-29 15:06] mremergo commented on #25
Thx for the awesome help/response, really appreciate it!

@bmuenzenmeyer thx for pointing out. I have _meta in /source. the 00_meta was only a leftover containing some dummy atoms (not containing the pattern head or foot files anymore). I renamed 00_meta, but without any influence on topic.
@dmolsen the patternPaths var

[code]

[2016-06-29 15:08] dmolsen commented on #24
This will be removed tonight. None of my quick attempts to fix it are working.

[2016-06-29 15:47] dmolsen commented on #25
Bad news. Good news.

I recreated your organization for `header-button-help` and `header-button-logout` and both the generation of the patterns with the PHP version of PL and the front-end worked just fine. I even duped the `navItems` and `patternPaths` you provided above and clicking the nav between those elements that exist worked.

From my standpoint I think I need to get to installing PL/Node

[2016-06-29 15:55] bmuenzenmeyer commented on #25
@dmolsen I'd expect that level of nesting to work, but what of something like:

 `menu-button-modal-dialog": "00-atoms/02-aside/menu-component-parts/menu-buttons/menu-button-modal-dialog` ?

[2016-06-29 17:45] dmolsen commented on #25
@bmuenzenmeyer -

That also works in PL/PHP but it's not by conscious design. It Just Happens to Work(tm). The pattern partials will end up sucking because this level of nesting is asking for collisions but... it appears to be supported.

[2016-06-30 11:39] mremergo commented on #25
Hey guys. I found my mistake.
@bmuenzenmeyer You were right to address the migrating process as source of the error
@dmolsen Your tip to look for the patternlab-pattern.min.js pushed me in the right direction

When i was migrating from PL/Net to the node-Version i was copying my patterns and changed the metas position from inside _patters/00-atoms/00-meta to the source/_meta folder. I have copied

[2016-06-30 13:13] bmuenzenmeyer commented on #25
@mremergo glad to hear this was resolved for you. Apologies for any frustration you had. May I close this issue?

[2016-06-30 13:26] mremergo commented on #25
Yes, thanks, my apologies for the time you spend on it

[2016-06-30 13:26] #25 closed, assigned to dmolsen

[2016-06-30 13:29] dmolsen commented on #25
@mremergo -

I learned something new about my system and we saw your use case. Not a waste to me :)

[2016-07-07 01:24] dmolsen commented on #24
This was removed in `v3.1.1`

[2016-07-07 01:24] #24 closed, assigned to dmolsen

[2016-07-07 01:58] dmolsen commented on #6
I think this issue is dead with the merge of `feature-panels`.

[2016-07-07 15:26] dmolsen opened #28 "Check to make sure `comments.comments` exists"
Also make sure it doesn't equal `null`. Line 127 of `panels-viewer.js` should probably read:

[code]

[2016-07-12 03:35] bradfrost opened #29 "Remove or Revise "There is no description for this pattern." Default"
The current behavior for patterns without descriptions is "There is no description for this pattern.
" which I think is pretty ugly.

I'd be happy to remove it altogether, but if we decide there should be a default message, it should say something like "[Add a description](http://patternlab.io/docs/pattern-documenting.html) for this pattern"

[2016-07-12 10:11] patrikelfstrom opened #30 "Is dist/js/patternlab-viewer.min.js used?"
What is this file used for? I can't find anything and it's mostly the same as
dist/styleguide/js/patternlab-viewer.js

[2016-07-12 11:54] bmuenzenmeyer commented on #30
You can find it referenced at https://github.com/pattern-lab/styleguidekit-mustache-default/blob/master/views/partials/general-footer.mustache#L55

These repositories work together to support the default PHP and Node frontends.
One could make an argument that both minified and unminified code is not necessary to distribute, but that's a common practice for those that want to understand what code i

[2016-07-12 14:10] patrikelfstrom commented on #30
I'm talking about these three files:

https://github.com/pattern-lab/styleguidekit-assets-default/blob/master/dist/js/patternlab-viewer.min.js
https://github.com/pattern-lab/styleguidekit-assets-default/blob/master/dist/styleguide/js/patternlab-viewer.js
https://github.com/pattern-lab/styleguidekit-assets-default/blob/master/dist/styleguide/js/patternlab-viewer.min.js

The reason I'm asking is bec

[2016-07-12 14:21] bmuenzenmeyer commented on #30
This might be a bug in my edition copy logic then. Will take a look when time allows.

[2016-07-13 22:36] bradfrost opened #31 "Style Tags Inside Pattern Description"
The contents of the markdown file are displayed in `.sg-pattern-desc`, so we'll need to do a better job at styling raw tags within that scope. Things like:
- Headings
- Blockquotes
- Images
- Code
- tables
- lists
- `hr`s

https://daringfireball.net/projects/markdown/

[2016-07-14 08:43] joecarney opened #32 "Flashes on scroll when viewed on iPhone"
![pattern_lab](https://cloud.githubusercontent.com/assets/563060/16833391/6f9e65a6-49af-11e6-923c-7613ca1055e2.gif)

Am on iOS9.3.2

This is a screen recording, it shows the flashes as gray boxes, however, on the actual phone, it happens so fast it looks like the screen is just flickering

[2016-07-14 13:29] bradfrost opened #33 "Force Style of Category Title and Description"
`.sg-pattern-category-title a` needs styled to not be overridden by user's styles. For example, If the user changes link color to green, the category title shouldn't inherit that.

`sg-pattern-category-body` will need similar rules.

[2016-07-15 17:16] dmolsen opened #34 "Remove Nav Class Built Using Pattern Name"
At this point there's no reason for this feature and it isn't properly escaped anyway. Either swap in a dash version of the name or remove entirely. Not sure what this is a hold over from.

[2016-07-15 17:37] dmolsen opened #35 "Make sure viewall- check is for 0 and not just for anywhere in the string"
Know the fix. Just implement.

[2016-07-16 20:45] bradfrost opened #36 "Display title and breadcrumb info on Modal even when no description is given."
Per this discussion:
https://github.com/pattern-lab/styleguidekit-assets-default/commit/f9a34534e2bc77a248a20ff6111291862b1cd03d#commitcomment-18152007

[2016-07-24 14:06] #35 closed, assigned to dmolsen

[2016-07-24 14:07] #34 closed, assigned to dmolsen

[2016-07-26 02:33] mmistakes opened #37 "Cannot GET ..mustache bug"
I recently updated from `3.2.0` to `3.3.0` and noticed something strange in a pattern's info.

The tab name went from **MUSTACHE** to **.Mustache** with an error that it can't locate `..mustache` files.

![screen shot 2016-07-25 at 10 28 29 pm](https://cloud.githubusercontent.com/assets/1376749/17124177/395f4526-52b7-11e6-8e0c-3f5d803b769c.png)

I've observed this happening on Mac OS X and Windows

[2016-07-26 02:42] bmuenzenmeyer commented on #37
Are you using Pattern Lab Node or PHP? I maintain the Node version and encountered and fixed this bug last night - but have only put it into the `dev` branch so far. I can make a release tonight quick.

[2016-07-26 02:43] bmuenzenmeyer commented on #37
Nevermind - package.json is a dead giveaway. I will start the release process now.

If you want to point `patternlab-node` to `pattern-lab/patternlab-node#dev` in  your `package.json` you could confirm this is fixed along with reverting back to 3.3.0 for styleguide-assets-default

[2016-07-26 02:46] mmistakes commented on #37
Yes, on the Node version.
Sweet! I just noticed the bug the other day when running `npm update`. Took me a while to figure out which module updated recently and introduced the bug.

[2016-07-26 03:10] bmuenzenmeyer commented on #37
`npm update` - https://www.npmjs.com/package/patternlab-node

Give it a shot now and lemme know

[2016-07-26 03:14] mmistakes commented on #37
Looks good. All better now!

[2016-07-26 03:14] #37 closed, assigned to bmuenzenmeyer

[2016-07-29 00:17] bradfrost commented on #32
Hey @joecarney,
Thanks so much for sharing this. I can't give a timeframe on when this is going to be addressed, but it's definitely on the radar! Thanks again.

[2016-07-29 07:42] ba55ie opened #38 "Keyboard shortcuts vs accesskeys"
The [keyboard shortcuts](http://patternlab.io/docs/advanced-keyboard-shortcuts.html) aren't working on my local installation (patternlab-node v2.3.0) and [online](http://demo.patternlab.io). Tested with the latest Chrome and Firefox.

My suggestion is to use accesskeys instead of jwerty, because it will make the site more accessible and you can ditch the JS dependency.

https://developer.mozilla.o

[2016-07-29 07:48] ba55ie commented on #38
Ah, according to the docs this feature is disabled, but it seems to be active in the code: https://github.com/pattern-lab/styleguidekit-assets-default/blob/9935ac6155a1afe86dc894df68773e72de94c441/src/js/styleguide.js#L116

[2016-07-29 19:20] dmolsen commented on #38
@ba55ie -

Some of them are in there but not all. I'll look into `accesskey` as well. Thanks for the heads up.

[2016-07-29 19:22] dmolsen commented on #30
This file has been removed from `dist/`. Bad copy on my part at some point.

[2016-07-29 19:22] #30 closed, assigned to dmolsen

[2016-08-10 15:02] bradfrost opened #40 "Patterns with styleModifiers not showing up in lineage"
When patterns are included using a styleModifier, the included pattern no longer appears in the lineage.

`{{> atoms-square }}` without any styleModifier shows up correctly:

![pattern lab - molecules-media-block](https://cloud.githubusercontent.com/assets/383701/17558726/8cf82fa2-5ee9-11e6-98d9-1a550813bc97.png)

But `{{> atoms-square:c-block-media__img }}` doesn't display in the lineage:
![patte

[2016-08-10 15:21] dmolsen commented on #40
Will look into this tonight.

[2016-08-18 08:52] hctom opened #41 "'View All' menu navigation issue"
Sorry to cross-post this, but https://github.com/pattern-lab/patternlab-php/issues/370 seems to be filed against the wrong repository ;)

So here is the actual issue report by @anthonysimone:

We can confirm this behavior as well on our side.

[2016-08-18 21:23] kara-todd opened #42 "Support for adding and removing panels"
It would be nice to have the ability to define or modify what panels appear for the code view. In my case, I'd like to have JS/CSS/HTML (but not mustache.) This is because we will be using pattern-lab to share the front-end code base with an external vendor. The vendor needs to be able understand what is required for units to render & function, but will be generating HTML server-side rather than u

[2016-08-22 18:38] geoffp opened #43 "Support patternengine name rather than file extension in the template tab"
So, this is to solve my current conundrum, which we touched on in this spec thread: https://github.com/pattern-lab/the-spec/issues/26.

When I present our library of underscore (named as .html, unfortunately) templates, we currently see this unfortunate naming of tabs:

![screen shot 2016-08-22 at 11 49 22 am](https://cloud.githubusercontent.com/assets/76232/17866727/3e376562-686d-11e6-805d-0eed0b

[2016-08-22 18:40] geoffp commented on #43
PR is in for consideration.

[2016-08-25 12:26] bradfrost opened #46 "More granular viewport configuration"
This is a feature request from someone at a company. They'd like to have more control over the ish controls. Rather than selecting ranges, they'd like to do something like:
- iPhone - exactly 320
- Android - exactly 360
- iPad - exactly 768
- L - 768 to 1200
- XL - 1200 to 1800
- Jumbo - 1800 to 3000

You get the idea. I'm not sure what the default ish configurations are, but this was presented to

[2016-08-26 14:39] bmuenzenmeyer opened #47 "Uncaught TypeError: Cannot read property 'addEventListener' of null"
Upon dropdown navigation, I noticed this error in the console on `3.3.1` and `3.3.0`, though everything seems to still work.

![image](https://cloud.githubusercontent.com/assets/298435/18009256/0798ba2c-6b71-11e6-97f2-2b0aaa349124.png)

[2016-08-26 18:13] geoffp commented on #47
@bmuenzenmeyer, when does this occur? On UI load?

[2016-08-26 18:15] bmuenzenmeyer commented on #47
@geoffp when I navigate using the dropdown menus

[2016-08-26 18:20] bmuenzenmeyer commented on #47
Pulling down edition-node-gulp 100% clean, I do not see this. If no one else experiences this after a couple days I will close as an environment hiccup

[2016-08-26 18:25] geoffp commented on #47
👍

[2016-08-30 15:41] bradfrost commented on #42
Hey @kara-todd,
Yep the architecture for Pattern Lab 2 allows to extend these panels. @dmolsen would have to explain the logistics of extending these panels. I just want to let you know that your request is something that's being addressed. Thanks!

[2016-09-01 12:51] bmuenzenmeyer commented on #47
This does not appear to occur anymore. Closing.

[2016-09-01 12:51] #47 closed, assigned to nobody

[2016-09-01 12:52] bmuenzenmeyer opened #48 "Re-add Style Removed During a Merge"
I somehow removed some css during https://github.com/pattern-lab/styleguidekit-assets-default/commit/2fdbbc98c614c8a7abe2d3a15608e90d828654ee

This issue is a reminder to re-add.

[2016-09-07 14:44] geoffp commented on #43
@bmuenzenmeyer, can we close this?

[2016-09-07 14:47] bmuenzenmeyer commented on #43
I think so, yes

[2016-09-07 14:47] #43 closed, assigned to nobody

[2016-10-06 15:00] giofilo opened #50 "More specific typeahead classes?"
Hi all,

I'm using Twitter Typeahead in my project. But the css classes in the styleguide are conflicting with my custom styles.

https://github.com/pattern-lab/styleguidekit-assets-default/blob/master/src/sass/styleguide.scss#L587

I would suggest to write or indent the css classes with the"sg-" prefix.

Thank you!

[2016-10-12 10:26] stephenwil opened #51 "Remove bower dependancy and use npm for all installs"
No reason to use bower anymore

[2016-11-03 09:00] eliland opened #54 "Configurable size range on S/M/L"
(Feature request)
We tend to use small, medium and large breakpoints in our responsive design projects. Which adds up nicely to PL's S/M/L buttons, _except_ for when it comes to the size range they are set to use. Our breakpoints are usually: small up to 767px, medium 768-1023 and large 1024+. So we would like the S/M/L-buttons to keep within those ranges as well. Today this means fiddling with th

[2016-11-04 16:53] kristianserrano commented on #41
I'm experiencing this exact same issue. I thought I was losing my mind.

[2016-11-04 20:55] novascreen commented on #41
Hey, could you guys check if my PR pattern-lab/patternlab-php-core#102 fixes this or whether this is a different, but similar issue?

[2016-12-09 23:41] sbubaron commented on #17
Is this related to github pages? If so I just changed the config to output to /docs instead of /public -- seems to be working: https://github.com/SBUDoIT/unity-lab-node / https://sbudoit.github.io/unity-lab-node/

[2016-12-20 04:12] leoacosta commented on #47
@bmuenzenmeyer @geoffp I'm having this issue as well...

[2016-12-21 03:09] bmuenzenmeyer commented on #6
This is still occuring. https://github.com/pattern-lab/patternlab-node/issues/576

[2016-12-22 13:46] bmuenzenmeyer commented on #42
Note - you may add panels in PL Node with https://github.com/pattern-lab/plugin-node-tab

[2016-12-22 15:51] #48 closed, assigned to bmuenzenmeyer

[2017-02-02 14:07] doige commented on #47
me too.
php-mustache version.

[2017-02-10 14:59] bmuenzenmeyer commented on #54
This feature keeps coming up. @bradfrost I want your input on how important it is, as part of the Pattern Lab spec, to have the S, M, L buttons be randomized. I understand your usecases on #46  and @georgiee  on https://github.com/pattern-lab/patternlab-node/issues/621 but frankly this is:

- not on spec right now, according to the ish methodology. It's an intentionally vague approximation.
- low

[2017-02-10 15:15] bmuenzenmeyer commented on #54
[From some ol book I have lying around](http://atomicdesign.bradfrost.com/chapter-3/#viewport-tools-for-flexible-patterns)

[2017-02-10 15:38] bramsmulders commented on #54
Ooof, just read up on all these requests.
I really do not think you need to sell specific breakpoints to clients, as @georgiee is stating in: [#621](https://github.com/pattern-lab/patternlab-node/issues/621).

The web landscape is not restricted to a finite number of viewport sizes. This is why @bradfrost came up with the idea for `ish`. It's like: "i want to see a small-ish viewport..." This real

[2017-02-10 16:42] eliland commented on #54
Just to clarify: I agree with @bramsmulders - I do prefer and want to keep the _randomness_ of `ish` as it is today. It is very helpful in spotting issues both in design and coding long before they go live.

But a few words on breakpoints and clients:
When we go through the design phase with the client it's just not doable to have an infinite number of breakpoints. Instead we define three, four or

[2017-02-10 16:50] bmuenzenmeyer commented on #54
being able to specify a range would work for the "exactly this size" use case too, in the sense that you set the M range to `768-768`

Would that work for everyone?

[2017-02-23 20:55] ryanowich commented on #47
I just exprienced the same.

It comes from nav.js which is part of the demo content.
`navOpen = document.querySelector('.nav-toggle-menu'),`

If you remove the demo nav, you no longer have an element with the class `.nav-toggle-menu`. And therefore `navOpen` is null.

Solution: Don't include nav.js. It's not part of PatternLab core.

[2017-02-24 01:07] bmuenzenmeyer commented on #47
good sleuthing @ryanowich

https://github.com/pattern-lab/starterkit-mustache-demo/blob/master/dist/js/nav.js for those wondering what he is referring to.

[2017-05-03 09:17] st3phan opened #58 "Remove global box-sizing reset"
Could you consider removing the global `box-sizing: border-box` reset declaration?

It sometimes starts messing up layouts because the `styleguide.css` is of course not included in my production project. So where in patternlab the `box-sizing` reset applies to all elements it does not when viewing elements outside of patternlab because there is no global reset in my production CSS. I only set `box

[2017-05-03 09:29] bmuenzenmeyer commented on #54
I've tentatively scheduled this for our next open source day

[2017-05-08 10:20] yadimon commented on #42
but how to remove them? Change? For example i want to add new tab: 'scss' (done over plugin) and remove it if the content is empty (no file, or empty file). Or i want to remove 'mustache' panel.

[2017-05-08 13:20] bmuenzenmeyer commented on #42
Removing panels is not supported by the plugin yet, but it's been noted as an improvement opportunity.

[2017-05-09 16:36] yadimon commented on #42
pr for remove ability:
https://github.com/pattern-lab/styleguidekit-assets-default/pull/59

[2017-05-16 13:57] bmuenzenmeyer commented on #54
Addressed as part of https://github.com/pattern-lab/styleguidekit-assets-default/releases/tag/v3.5.0

[2017-05-16 13:57] #54 closed, assigned to bmuenzenmeyer

[2017-05-16 13:58] bmuenzenmeyer commented on #46
release https://github.com/pattern-lab/styleguidekit-assets-default/releases/tag/v3.5.0 allows users to specify a viewport range for the default S, M, L buttons, including defining an exact size for each.

This doesnt allow users to create more than three, however.

[2017-05-25 16:50] notacouch opened #63 "ishViewportRange doesn't exist in config object provided by PatternLab PHP"
My local instance of PatternLab is via a fork of [Phase2's drupal starter kit](https://github.com/phase2/pattern-lab-starter). I was excited to see the recent release of viewport range support in 3.5.0 so had successfully updated this particular dependency via composer.

However, after modifying pattern-lab/config/config.yml, the values were still not respected.

I edited pattern-lab/public/styleg

[2017-05-25 18:33] bmuenzenmeyer commented on #63
thanks for the sleuthing. I had assumed that PL PHP would allow any new config entries to pass through...

this is a bug in patternlab-php-core then. I do not maintain that library anymore, but I am sure someone can patch it without too much trouble.

[2017-05-25 18:34] bmuenzenmeyer commented on #63
created an issue over there.

[2017-05-25 18:34] #63 closed, assigned to nobody

[2017-06-21 11:48] pixelstew commented on #14
Hi there - is there any progress on this at all?

[2017-08-10 11:49] bmuenzenmeyer opened #66 "[EPIC] vNext"
This is the tracking issue for the vNext milestone, which serves as a living document for the `4..0` version of this repository.

All vNext Issues: https://github.com/pattern-lab/styleguidekit-assets-default/milestone/1

vNext is informed in part from the following locations:

* This repository backlog
  - [ ] review backlog for vNext enhancements
* https://github.com/drupal-pattern-lab/roadmap/is

[2017-08-10 11:52] bmuenzenmeyer opened #67 "Make it easier to customize the frontend"
A bucket of ideas, which may become their own issues in respective repositories, or spec issues:

- [x] Allow users to provide override templates at build time
- [x] Allow users to provide their own CSS at build time
- [x] Do not minify assets by default

[2017-08-10 11:54] bmuenzenmeyer opened #68 "Upgrade build process"
Webpack would likely be the preferred method.

[2017-08-10 11:56] bmuenzenmeyer opened #69 "Consider changing base template system"
There seems to be some appetite for changing the frontend template language, but more research must be done. Currently they are Hogan templates, which are fast, approachable, and relatively simple.

Some contenders mentioned in https://github.com/drupal-pattern-lab/roadmap/issues/8#issuecomment-321026756 include:

* Web components
* Nunjucks
* Vue.js

[2017-08-10 11:57] bmuenzenmeyer commented on #69
My vote would be on vue, given the above options. I also am not opposed to keeping Hogan

[2017-08-10 11:58] bmuenzenmeyer commented on #66
@sghoweri please feel free to add anything you like to this re: the front end architecture.

[2017-08-10 11:59] bmuenzenmeyer opened #70 "Implement support the JSON Schema editor / tester"
This should only occur after definition and voting over at https://github.com/pattern-lab/the-spec

[2017-08-10 12:07] sghoweri commented on #68
@bmuenzenmeyer perhaps have two separate tasks regarding the build and Webpack?

One regarding the build and config itself (ie this one) and the other (new issue) being the JavaScript module refactoring required to get things to be more in line with CommonJS or ES6 (ex. modules explicitly import their own required dependencies and export any exposed functions, etc)

Ex. regarding the JS modules th

[2017-08-10 12:10] sghoweri commented on #66
Lol impeccable timing.

I literally had just finished naming a new Evernote doc "Styleguidekit Assets Default Reimagined" to jot down my thoughts when I saw this first notification come through.

Sounds good @bmuenzenmeyer!

[2017-08-10 12:47] sghoweri commented on #66
@bmuenzenmeyer  Just a quick brain dump of a few things that come to mind:
https://www.evernote.com/shard/s13/sh/66ca246c-cd6f-4733-ae2a-2066641e97f0/14480f2181f847bdec4e5cdb8bdefbba

CC @jesconstantine

[2017-08-28 11:48] plesiecki opened #71 "Release 3.5 to npm registry"
Would you mind publishing latest version to npm registry, please?

[2017-08-28 11:58] bmuenzenmeyer commented on #71
Will do this tonight 👍

[2017-09-01 11:31] bmuenzenmeyer commented on #71
https://www.npmjs.com/package/styleguidekit-assets-default

[2017-09-01 11:31] #71 closed, assigned to bmuenzenmeyer

[2017-09-09 13:30] #33 closed, assigned to bradfrost

[2017-09-09 13:32] bradfrost commented on #69
Per our conversation yesterday with @EvanLovely, I'm open to modernizing these templates, although I'd need a bit of guidance for setting anything new up.

[2017-09-09 13:34] #46 closed, assigned to nobody

[2017-09-09 13:38] bradfrost opened #72 "Re-architect frontend UI code"
In an effort to make Pattern Lab's UI more flexible and extensible, the frontend code should be re-architected. I'll likely be tackling this using [these conventions](http://bradfrost.com/blog/post/css-architecture-for-design-systems/), which have proven to be effective on very large, complex software applications. So it should work well here.

Given the nature of the changes, we'll have to be min

[2017-09-09 13:40] bradfrost commented on #67
Issue #72 would affect and/or address some of these things.

[2017-09-09 16:15] bradfrost commented on #72
Alright I'm going to give a blow-by-blow here. Working on the refactor in this branch: https://github.com/pattern-lab/styleguidekit-assets-default/tree/feature-css-refactor

[2017-09-09 16:24] bradfrost commented on #72
The existing `styleguide.scss` contains all of the styles, which is unruly. I've chunked things out into the following folders within an `scss` folder:

- `abstracts` for variables
- `base` for reset
- `components` for UI components
- `utilities` for helper classes
- `vendor` for third-party CSS libraries

[2017-09-09 16:47] bradfrost commented on #20
I've implemented this for other projects, so will bring that functionality into PL

[2017-09-09 16:50] bradfrost commented on #72
@bmuenzenmeyer @EvanLovely just a heads up that globally I'm going to restructure the current prefix of `sg-` (standing for "style guide") to `pl-` (standing for "Pattern Lab" of course). That SG was in place before Pattern Lab had a name, and I think the `pl-` prefix is more helpful as an identifier.

I bring it up as a heads up because that obviously touches a lot of things.

[2017-09-09 17:47] bradfrost commented on #72
I cleaned up the Sass variables and updated them to be more descriptive. So instead of `$sg-gray-light-3` we're now working with `$pl-color-gray-20`.

[2017-09-09 18:16] bradfrost commented on #67
I removed minification of the CSS and renamed to `pattern-lab.css` to make it clearer what the file does: https://github.com/pattern-lab/styleguidekit-assets-default/commit/a89f621733e15ee008e7ddb03b3d0a52d6cfe518

[2017-09-09 18:16] bradfrost commented on #72
I renamed the main CSS file to `pattern-lab.css` and removed minification of the file.

[2017-09-10 04:29] EvanLovely commented on #69
Several months ago I dug into this, started from scratch and built a MVP with React that works. No styles at all, but functional. Where should I commit this? A branch here? Or another `styleguidekit`? My original name was going to be `styleguidekit-alt`.

[2017-09-10 12:27] bradfrost commented on #69
@EvanLovely yeah maybe put it on a branch here and then we can go from there. By the time we're ready to merge I will have hopefully tightened up the syntax and style.

[2017-09-10 13:21] bmuenzenmeyer commented on #69
I'd like to see this too. The beauty of the current templates is their
simplicity.

Do you think moving the default frontend to react, with all the tooling
required, maintains the approachability for new users or users that want to
tweak a template?

A goal of mine has been to make front end customization easier without
having to fork and replace this repo.

https://github.com/pattern-lab/patternl

[2017-09-10 19:41] EvanLovely commented on #69
Ok, sounds good. Might not happen for a couple weeks as I'm out for next week.

- [ ] @EvanLovely to add basic React styleguidekit to branch here

tweak a template?

Once tooling is set up, a contributor tweaking an existing template doesn't need to worry about the build process as it's already been set up. We just need to consider when they open a template that it makes sense, so that's just how

[2017-09-11 03:25] bradfrost commented on #72
I've been making a whole mess of refactoring tweaks to the header. A lot of it is syntax and cleanup, but I'm also starting to work on theming. Here's a taste of what a light theme and a "comfy" (read: bigger padding) theme could look like:

![theme-wip](https://user-images.githubusercontent.com/383701/30257308-182df868-967f-11e7-9e62-9af50e7b0a25.gif)

This ultimately can of course lead to a left

[2017-09-11 15:43] bmuenzenmeyer commented on #69
This has been a user concern for too long, and is on my short to mid term radar. I have a node plugin that achieves some of this, but it wouldn't take much at all to allow users to specify their own templates to override the current system. With so much else in flux in this repo, I think it prudent to hold off a bit, but I want to ensure we are meeting our users where they expect us too. The fact

[2017-09-11 15:43] geoffp commented on #69
Having used React and all the associated tooling for the past year, I'd rather use something simpler that exposes us to less code & tooling bloat, but still gets us a modern component architecture.

I admit to not having studied Vue extensively, but that's my current best guess of what would be ideal.

[2017-09-11 15:44] bmuenzenmeyer commented on #69
perhaps react is in fact what is needed to best support https://github.com/pattern-lab/styleguidekit-assets-default/issues/70

like I said before, eager to see where this goes!

[2017-09-11 15:46] bradfrost commented on #69
I've been looking at Vue for a while and I like what I see. The syntax feels like something even I can get my head around.

[2017-09-11 15:46] bmuenzenmeyer commented on #66
@EvanLovely tagging you on this, though I wouldn't doubt if you already talked it over with Salem.

cc @geoffp

[2017-09-11 15:48] bmuenzenmeyer commented on #20
I should add that https://github.com/roydanenterprises/plugin-node-clipboard exists in this space right now, and would likely be obsoleted if this feature would be built into the frontend

[2017-09-11 16:02] geoffp commented on #69
FWIW, I think Evan's goal of no-page-refresh is a good one in principle, but we're still planning on loading patterns in an iframe, right? I don't relish the thought of that, but to me that still seems like that only way to cleanly render, in isolation, *any* template/component framework that we support. If we're going to push forward with the React engine (I know, I know, it's been forever) and s

[2017-09-11 16:12] bradfrost commented on #69
Yep. The principle of Pattern Lab has always been that the tool doesn't impose anything on your code. Everything inside the PL iframe is the users, and everything outside is Pattern Lab's.

That said, there sometimes needs to be some communication between the PL layer and what's going on inside the iframe. @dmolsen created some listeners that allowed for that communication to happen. It would be g

[2017-09-11 16:24] bradfrost commented on #20
Oh yeah. I think that functionality makes sense as a core PL feature, and yep I think it makes sense to bake that into the frontend.

[2017-09-11 16:26] geoffp commented on #69
So therefore, I think if I understand @EvanLovely's desire correctly, he wants to do exactly what we did here with Pattern Lab: develop rich, interactive front-end components for use in a single-page app (or prog web app, or just-a-bunch-of-compnents with SSR, or whatever). We did this with Handlebars, loose JS, and SASS, so I know we don't *need* something like React to do that. In fact, I think

[2017-09-11 16:33] bmuenzenmeyer commented on #20
the less code we have the better

kill it with 🔥

[2017-09-11 16:39] bmuenzenmeyer commented on #69
correct @geoffp

my perhaps complete list of frontend goals are:

* maintain a shared front end between PL PHP and Node
* make a front end that achieves our needs for the PL Front End
  * maintains or stays close to current data contract at the global level and the pattern level
  * maintains our plugin ecosystem contracts where possible
  * allows for new capabilities where needed
       * #70 Im

[2017-09-11 16:40] bmuenzenmeyer opened #73 "create a better experience around viewing pattern variants / pseudo-patterns"
Mentioned in passing many times, and in #69

@bradfrost this is on you to design 🖌

[2017-09-11 16:42] bmuenzenmeyer commented on #73
cross linking to this historic conversation: https://github.com/pattern-lab/the-spec/issues/25

[2017-09-11 17:16] sghoweri commented on #66
@bmuenzenmeyer ...you mean about how @EvanLovely's taking over as Pattern Lab's Lead PHP Developer and how we're all crazy excited to start planning out the next big step for all this?!! 😀

[2017-09-11 17:24] bmuenzenmeyer commented on #66
that yes, which will be announced officially with other fanfare too 🎺

I tagged him mostly to ensure conversations happening inside #69 are part of the context of this issue and your evernote.

I understand we will need to make a stepwise approach to tackling all this collaboratively with minimal disruption to existing workflows - so overcommunicating seemed prudent

[2017-09-11 18:52] bradfrost commented on #73
You got it.

[2017-09-29 16:18] bradfrost commented on #72
The frontend refactoring bleeds into https://github.com/pattern-lab/styleguidekit-mustache-default, so I've been going through and updating that code as well.

[2017-09-29 16:33] bradfrost commented on #72
I also want to change the `styleguide` directory that ultimately lives in `public` to `pattern-lab`, and put everything that belongs to PL into that directory. That includes `annotations` and anything else that can be put in there.

[2017-09-29 16:40] bmuenzenmeyer commented on #72
@bradfrost

let us know if that lands into a branch or branches, as it will likely break PL Node and PL PHP

[2017-09-29 16:48] bradfrost commented on #72
@bmuenzenmeyer Yeah I realize that's going to be a big change, so I'll make it it's own thing and flag/coordinate things accordingly.

[2017-09-29 18:59] sghoweri commented on #72
@bmuenzenmeyer that's precisely why I had originally suggested (and had already gotten a good deal into) doing this Styleguidekit Assets Default re-architecture as a monorepo using something like Lerna -- at least for the initial buildout -- given how even a relatively small change in one Pattern Lab dependency can require changes spanning 2 or 3 other repos...

[2017-09-29 19:12] bmuenzenmeyer commented on #72
I've been kicking around the idea of putting node core together with all node engines, but I don't see a lot of logic to putting patternlab node and patternlab php together.

[2017-09-29 19:13] bradfrost commented on #72
I think generally speaking if there's a way to move all UI into one one repository (`styleguidekit-assets-default`) that makes sense. I can't speak to the engine stuff, but if there's a way to get the UI-specific stuff that lives in `styleguidekit-mustache-default` etc into `styleguidekit-assets-default` that would be good I think.

[2017-09-29 19:27] bradfrost opened #74 "Remove caching meta tags?"
This is probably a question for @EvanLovely, but I'm trying to clean up the UI as much as possible. We currently have this code in the `head`:

[code]

I believe that was to force the browser to never cache patterns so you always so the latest version. That said, I was wondering if there's another way to accomplish that without these tags? Or if it's necessary at all?

[2017-09-29 19:30] bmuenzenmeyer commented on #74
Some interesting results from here: https://stackoverflow.com/questions/1341089/using-meta-tags-to-turn-off-caching-in-all-browsers

The accepted answer (pretty old too) is verbatim to the above, but it looks to not be recommended practice.

In a production environment, I would expect developers to set cache control headers on the web server via .htaccess or an equivalent. Right?

**EDIT**

Answer

[2017-09-29 19:49] sghoweri commented on #72
@bmuenzenmeyer sure, no arguments there.

But then again, what if we only really needed one single Pattern Lab core to rule them all to handle any underlying business logic and that just hooked in with whatever template adapter we needed (PHP-powered Twig, React, Handlebars, vanilla web components, etc)?

Even just yesterday I stumbled upon a brand new Drupal 8 module that has PHP talking to a sib

[2017-09-29 21:15] bradfrost commented on #74
Thanks @bmuenzenmeyer!

Fascinating the post is from '09. I wonder how much of it is still relevant, especially considering cross-browser stuff is woven in there. Being that our audience is developers developing locally, it's a safe assumption they're not using IE9 as their primary dev browser.

Yep, and again I think these tags are more for dev environments where we want to see the latest changes

[2017-09-29 21:19] bradfrost commented on #74
The `head` looks cleaner now :)

[code]

[2017-10-01 01:06] bradfrost opened #75 "Add optional logo setting"
Have the ability to add a company's logo to the Pattern Lab interface. I already have the style and markup in place; I just need to know how to make it a variable inside of `patternlab-config.json` (which maybe @bmuenzenmeyer could walk me through?).

I'm thinking something like this in the markup:

[code]

and this in `patternlab-config.json`:

[code]

Understanding how config variables work in g

[2017-10-01 01:14] bmuenzenmeyer commented on #75
This function within Pattern Lab core is most directly responsible for outputting JSON available to the front end.

https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/ui_builder.js#L570

You will notice a couple objects in there that may look familiar to you, such as `ishControls` `navItems` `patternPaths` etc

This function takes `patternlab` as an object, which also has the conf

[2017-10-01 01:16] bmuenzenmeyer commented on #75
that work for you @bradfrost ?

[2017-10-01 10:59] bmuenzenmeyer commented on #75
@bradfrost ⬇️

https://github.com/pattern-lab/patternlab-node/releases/tag/v2.12.0

Happy Hacktoberfest!

[2017-10-01 11:04] bmuenzenmeyer commented on #72
You bet! I humbly think that Pattern Lab Node is there.

* https://github.com/pattern-lab/patternlab-node/issues/554 is a bit messy with twig.js, but node-twig may work - would love help there.
* https://github.com/pattern-lab/patternlab-node/issues/285 dedicated work needs to happen here

[2017-10-01 12:25] bradfrost commented on #75
Thanks @bmuenzenmeyer! I think that `theme` object is exactly what we're looking for. Here's just a few things I'm thinking for that object:

[code]
All of the default values for the above object come first, as this is what is the current PL setup. Most of the other theme parameters I've either started on or have completed. And for the `mode` part, the thought is to be able to use PL as both a [wo

[2017-10-01 12:42] bradfrost commented on #72
@sghoweri

I think to @bmuenzenmeyer's point that's the goal!

I don't think the big efforts every couple years is due to keeping up with the different engines, but really evolving the whole platform to be more robust, versatile, and manageable. In any case, I think we're all on the same page of trying to put the right architecture in place to make that happen!

[2017-10-01 13:23] bmuenzenmeyer commented on #75
Cool. It would be great if theme supported a custom CSS file like
https://github.com/bmuenzenmeyer/plugin-node-uiextension does,  which made
adding custom states easy.

On Sun, Oct 1, 2017, 7:25 AM Brad Frost <notifications@github.com> wrote:

[2017-10-01 13:24] bmuenzenmeyer commented on #75
We should also plan to write this up when we are a bit more solid in the
spec repo

On Sun, Oct 1, 2017, 8:22 AM Brian Muenzenmeyer <
brian.muenzenmeyer@gmail.com> wrote:

[2017-10-01 15:34] bradfrost commented on #75
Realized I left that off in my original post; added it in an edit 20
seconds after!

[2017-10-04 00:37] bradfrost opened #76 "Migrate away from Bower"
What to do about this? https://bower.io/blog/2017/how-to-migrate-away-from-bower/

Cc @bmuenzenmeyer

[2017-10-04 13:18] bmuenzenmeyer commented on #76
This factors very much into the larger scale effort. For now I'd focus on getting your design refactor done, then we can focus on some of the behind the scenes work that makes the machine run.

[2017-10-05 15:34] bradfrost commented on #76
@bmuenzenmeyer Yep I figured as much. Just flagging it since I just read the post. 👍

[2017-10-05 15:36] bradfrost opened #77 "Deprecate classList.js"
We're currently using https://github.com/eligrey/classList.js as a polyfill for browsers that don't support `element.classList`.

Looking at http://caniuse.com/#feat=classlist it's safe to deprecate this.

[2017-10-05 15:39] bradfrost opened #78 "Deprecate jQuery?"
This is part of a larger effort refactoring of Pattern Lab's dependencies, but currently jQuery is being used intermittently throughout the codebase. This is more a question than anything, but is it possible to remove that jQuery dependency? My gut says yes, but it would be be great to get a more JS-savvy developer to review.

[2017-10-05 17:30] bradfrost commented on #72
Alright, big update! I _think_ I have most everything done regarding the refactor of the UI code. All CSS is rearchitected, all JS hooks are standardized, all of the features are present and accounted for.

The one thing that's holding me back is that the single pattern view appears to choke.

<img width="774" alt="screen shot 2017-10-05 at 1 27 52 pm" src="https://user-images.githubusercontent.co

[2017-10-05 17:44] bmuenzenmeyer commented on #72
@bradfrost i glossed through your commits a day or so ago but nothing stood out - did you rename or move any files as part of this?

[2017-10-05 18:48] bmuenzenmeyer commented on #72
useful debugging inside `src/html/index.html`

[code]

then upon rebuild (assuming you are linked) you can at least see the code

this is what I get outta the gate

![image](https://user-images.githubusercontent.com/298435/31246688-d029c782-a9d3-11e7-998b-4a8d7cd2d481.png)

will have more time to look into this later

** Edit ** For this specific error, I had some crap cookies saved. Debug steps s

[2017-10-05 19:03] bmuenzenmeyer commented on #78
All of these FE dependencies have a jQuery reference. Not to say it's impossible - just trying to understand the footprint.

* jwerty
* jQueryCookie
* typeahead

[2017-10-05 19:14] bmuenzenmeyer commented on #72
The suffixes are not being added to the requested file

[2017-10-05 19:28] bmuenzenmeyer commented on #72
It looks like https://github.com/pattern-lab/styleguidekit-assets-default/commit/5d06bf74edec033ebd45142678f6bd0158c532aa is not in your codebase.

Getting these changes back in will do the trick!

@bradfrost You must not have started with `master` ?

Makes me worried that other changes might not be reflected: https://github.com/pattern-lab/styleguidekit-assets-default/commits/master

[2017-10-05 20:21] bmuenzenmeyer commented on #72
@bradfrost pull changes, re-build, and try again :)

Looks like something similar needs to happen for the code panels. I can look into that too, unless you can figure it out. Lots of errors.

Not bad for a bus ride home! 🚌 :zap: ⌨️

[2017-10-06 08:55] bradfrost opened #79 "Ability to resize modal"
Currently the modal occupies 50% of the screen height:

<img width="1087" alt="screen shot 2017-10-06 at 4 27 20 am" src="https://user-images.githubusercontent.com/383701/31269497-b1254336-aa4e-11e7-81a3-4037f58d04a8.png">

It would be nice to be able to drag the top border of the modal in order to to show more or less information. This would be accomplished with a little handler at the top of the

[2017-10-06 09:49] bmuenzenmeyer opened #80 "Port all work after 3.2.0 into refactor"
Building off of https://github.com/pattern-lab/styleguidekit-assets-default/issues/72#issuecomment-334567988

![image](https://user-images.githubusercontent.com/298435/31272766-b0ad1b6a-aa51-11e7-88df-39ef385c76ea.png)

- [x] ~make sure tab is hidden~ brad has changed this logic so I think its ok
- [X] ~update copy of missing description~ likely not needed per https://github.com/pattern-lab/styleg

[2017-10-06 10:38] bmuenzenmeyer opened #81 "Whitespace not preserved in code viewer"
![image](https://user-images.githubusercontent.com/298435/31274439-81060ad2-aa58-11e7-9742-37b2d0534e31.png)

not sure if this is something on the CSS end @bradfrost but I sorta doubt it
thoughts?

[2017-10-06 10:39] bmuenzenmeyer commented on #80
@bradfrost we'll have to methodically port this stuff over. I can take point on it, since it's mostly JS and not design related work

[2017-10-06 10:41] bmuenzenmeyer opened #82 "Can no longer drag ish-iframe"
@bradfrost are you seeing this on the `feature-css-refactor` branch as well?

[2017-10-07 22:19] bradfrost commented on #82
All good here, @bmuenzenmeyer.
![ish](https://user-images.githubusercontent.com/383701/31312247-075efe0c-ab8c-11e7-9e48-07f61313ff8b.gif)

There's a chance I pushed stuff that was still in progress, but in any case this should be smoothed out.

[2017-10-07 22:19] #82 closed, assigned to bradfrost

[2017-10-08 00:47] sghoweri commented on #79
@bradfrost @bmuenzenmeyer In addition to having the ability to resize the panel vertically (or horizontally... if a layout toggle like in Dev tools was added) I'd strongly suggest we also update the panel to live side by side next to the iFrame viewer itself vs being more like an overlay as it is currently.

Without this, the content being overlapped is inaccessible and not viewable which can furt

[2017-10-08 01:00] sghoweri commented on #76
@bmuenzenmeyer @bradfrost @EvanLovely FWIW, I [already killed off bower](https://github.com/drupal-pattern-lab/styleguidekit-assets-default/blob/feature/modernize-patternlab-js/package.json) in the refactor I started working on 3 months ago (in addition to chipping away at getting the JS to [compile with Webpack](https://github.com/drupal-pattern-lab/styleguidekit-assets-default/blob/feature/moder

[2017-10-08 01:13] sghoweri commented on #78
Yeah... jQuery really shouldn't be needed given what the relatively simple JS requirements of Pattern Lab's Styleguidekit. There's plenty of options available w/o a jQuery dependency that should work just as good if not better!

- https://www.npmjs.com/package/mousetrap or https://www.npmjs.com/package/keyboardjs as a jWerty alternative
- https://www.npmjs.com/package/js-cookie as a jQuery Cookie

[2017-10-08 01:33] sghoweri commented on #78
Alternatively, if the navigation was a vertical panel on the side with search at the very top OR if the nav items were horizontal (ala InVision's interface) we could always just combine fuzzy search with filtering the nav items that match up...  http://listjs.com/examples/fuzzy-search/

[2017-10-08 01:51] sghoweri commented on #81
What if the output was automatically beautified (both the HTML and template tags) before the files are written out to the file system?

That's what I ended up doing on the Drupal Pattern Lab / PHP side of things this past week to keep things simple while also not having things look like crap either.

[2017-10-08 01:54] sghoweri commented on #70
@bmuenzenmeyer make sure you chat with @EvanLovely about his one... :-D

[2017-10-08 15:33] bradfrost commented on #79
@sghoweri that's great stuff, thanks so much for sharing! This has definitely been on the burner for a while, so it's great to see working code to make it happen. The CSS refactor is nearly complete, and once done I'm going to start implementing these features.

[2017-10-08 15:45] bradfrost commented on #81
I think that's a smart option (and perhaps even a smart default), but I want to be mindful that some teams might have their code structured a certain way for certain reasons. Bulldozing their conventions might not be a good idea, so I'd say if we were to beautify things there would need to be a flag to turn it on/off.

[2017-10-08 15:52] bradfrost commented on #78
@sghoweri thanks for the roundup of non-jQuery options. I'd definitely be on board with migrating away from jQuery to complete those features.

Interesting concept! Let's park that thought for now as I think there might be some other things we might do with search beyond just pattern navigation in the future. But love all these great ideas!

[2017-10-08 19:10] sghoweri commented on #81
@bradfrost agreed - and I'm actually glad you brought up perhaps having this as a default (but with a config option to disable if need be so we aren't unintentionally introducing  a breaking change without a workaround)

Perhaps we can tackle this once the CSS rearchitecture work is wrapped up?

[2017-10-08 23:13] bradfrost commented on #72
Alrighty, update on my end. Everything has been refactored and is looking/working properly in Chrome, Firefox, and Safari on my Mac. I don't have a Windows machine on me (I'm on the road) and haven't had a chance to Browserstack it, so Windows testing still needs to be done.

Assuming that things check out on that front, we're good to do whatever needs to be done to get these changes where they ne

[2017-10-08 23:37] bradfrost commented on #72
Alright, I've gone through everything on Browserstack and after some refactoring of the tabs things are looking and functioning great in Edge and IE11. So we should be good to go!

@bmuenzenmeyer, I'd like to continue work on some of the theming/enhancement stuff in other branches. What would recommend as far as branching goes? Should I start a new branch from this? Wait for you to do your thing t

[2017-10-08 23:50] bradfrost commented on #58
@st3phan This is a tricky one, as the effects of the `border-box` reset are far-reaching, but also extremely helpful. It's more than just `sg-input` that receives the updates from `border-box`; any element that contains a combination of padding, border, and width are affected. Paul Irish explains in [his blog post](https://www.paulirish.com/2012/box-sizing-border-box-ftw/).

I'm going to research

[2017-10-08 23:53] bradfrost commented on #31
This has been addressed in #72. A best practice is to wrap any passage of arbitrary text in a class, so that you can target loose, classless tags properly. The class `pl-c-text-passage` exists and is in use anywhere the user can output arbitrary markup (most likely via markdown).

[2017-10-08 23:53] #31 closed, assigned to bradfrost

[2017-10-08 23:54] bradfrost commented on #29
This is gone. If a pattern description doesn't exist, the info panel doesn't render and the code block occupies the entire pattern info area, like so:

<img width="1261" alt="screen shot 2017-10-08 at 7 54 22 pm" src="https://user-images.githubusercontent.com/383701/31322264-876c86c4-ac62-11e7-807c-8c122c8ff025.png">

[2017-10-08 23:54] #29 closed, assigned to dmolsen

[2017-10-08 23:56] bradfrost commented on #32
@frostyweather, can you confirm this bug on your iPhone? I'm traveling and would like to either address this or close it out.

[2017-10-08 23:59] bradfrost commented on #1
PL 2.0 launched `#808080` text on a `#000` background, which passes WCAG 2.0 AA. Additionally, a big refactor (see #72) will provide the ability to further customize the PL chrome.

[2017-10-08 23:59] #1 closed, assigned to dmolsen

[2017-10-09 00:02] bradfrost opened #83 "Adjust viewport scrolling when modal is open"
Adjust the viewport so when the modal window is open, users can still scroll to the bottom of their UI. This #6 and is referenced in #79.

[2017-10-09 00:03] bradfrost commented on #11
Closing this out

[2017-10-09 00:03] #11 closed, assigned to dmolsen

[2017-10-09 00:03] bradfrost commented on #14
Prism styles are implemented.

[2017-10-09 00:03] #14 closed, assigned to dmolsen

[2017-10-09 00:04] bradfrost commented on #17
Closing this issue

[2017-10-09 00:04] #17 closed, assigned to dmolsen

[2017-10-09 00:06] bradfrost commented on #20
We used this on a big design system project and it worked like a charm: https://clipboardjs.com/

[2017-10-09 00:06] bradfrost commented on #28
Closing this out

[2017-10-09 00:06] #28 closed, assigned to dmolsen

[2017-10-09 00:14] bradfrost commented on #36
This brings up a bigger issue of being able to differentiate when something is in the list view (where pattern info is displayed as an accordion) versus the detail view (where pattern info is displayed in a modal). There are a bunch of areas where a simple boolean would go a long way to having better control over the UI code.

@bmuenzenmeyer, I'm not quite sure how to go about doing this, but just

[2017-10-09 01:27] bmuenzenmeyer commented on #28
for history - since I know there is question as to why this was there somewhere in another issue - best of my recollection, it was a PL 1 to PL 2 migration that allowed for backwards compatibility

[2017-10-09 01:29] bmuenzenmeyer commented on #20
yup that's what my plugin uses. no reason why it couldnt be baked right in 🍰

[2017-10-09 01:33] bmuenzenmeyer commented on #81
FWIW Pattern Lab Node does an automatic beautification and it was expensive and did trounce on people's styles. We do allow it be turned on and off with a flag. perhaps we could find an editorconfig-aware solution

whitespace not being preserved is different, IMO, that beautification. The current behavior is a bug. line breaks / carriage returns used to be preserved

labeling this "spec write up n

[2017-10-09 01:35] bmuenzenmeyer commented on #70
definitely. is this live in any of your drupal codebase yet?

my hope was always to tackle this as part of our mid-term roadmap  https://github.com/orgs/pattern-lab/projects/1

labeling this "spec writeup needed" as we need to formalize this behavior

[2017-10-09 01:37] bmuenzenmeyer commented on #76
Sounds cool @sghoweri - sounds like a trail is already blazed by your hard work !

I think a good time to tackle this is once other features settle in - this is mostly backend convenience and doesn't affect users much

[2017-10-09 01:41] frostyweather commented on #32
@bradfrost This is happening for me. Wondering if it has to do with the progress bar animation or something.

[2017-10-09 01:48] bmuenzenmeyer commented on #72
@bradfrost you can branch from here and I can keep it all in sync.

[2017-10-09 15:39] acarnwath opened #84 "Request: Finer control over "view all" links"
I'd like to be able to hide the global "view all" link in the top bar (I am using a `"defaultPattern"` already), as that view is just so bogged down once all of my (and third-party) JS starts running on all of my patterns.  However, I'd like to keep the "view all" links in the folders (atoms/molecules/organisms) and in the subfolders, as those are not _too_ bogged down (yet!).

Currently `ishContr

[2017-10-09 15:41] bmuenzenmeyer commented on #84
thanks for opening this - part of the problem was me bastardizing the original implementation of ishControlsHide to have [views-all] do both.

I'd propose a new property for the top-level link.

[2017-10-09 15:44] acarnwath commented on #84
It would be really awesome if there was some way to show it for some folders and not others.
For example, we use our "view all atoms" pretty regularly, but hardly ever use "view all organisms" but we do use "view all organisms > header" (lots of pseudo patterns) regularly.  Not sure quite how to handle that in a config though...

Not knowing any of the "under the hood" code, something like this co

[2017-10-09 15:58] bradfrost commented on #84
One proposition would be to put that fine-grained config in the optional markdown file that lives adjacent to the folder. So in `00-global.md` sitting beside `atoms/00-global`, you could have something like:

[code]

[2017-10-09 16:18] acarnwath commented on #84
It seems like this is related, on the PHP side: https://github.com/pattern-lab/patternlab-php/issues/257 though when I prepend the file with a `-`, like the `_`, it just hides from the nav altogether in the node version (haven't tested PHP to see if that's consistent).

[2017-10-09 16:18] bmuenzenmeyer commented on #84
There's a lot of opportunity to put stuff at that level of navigation /
markdown! Love it

On Mon, Oct 9, 2017 at 10:58 AM Brad Frost <notifications@github.com> wrote:

[2017-10-09 16:21] bmuenzenmeyer commented on #84
I am very opposed to the filename conventions doing magic things. It messes with version control, regexes, file parsing, and is not the correct way to represent the state or presentation of a pattern or group of patterns. This is what the markdown frontmatter is for.

[2017-10-09 16:28] bradfrost commented on #84
I concur. A lot of that stuff was put in place before Markdown/YAML support. Now that we have those hooks in there, let's take advantage of them instead.

[2017-10-09 16:30] bmuenzenmeyer commented on #84
Labeling "spec writeup needed" to make sure we review and cull out file convention logic and replace it with markdown/frontmatter

[2017-10-09 16:31] bradfrost commented on #84
Good plan. That stuff should be deprecated and I think that's acceptable.

[2017-10-09 20:20] bmuenzenmeyer commented on #80
one more change to go

[2017-10-09 21:18] bradfrost commented on #38
I asked around about this: https://twitter.com/brad_frost/status/917429730630098951 and got some interesting results from a11y folks. It sounds like accesskeys can interfere with screen readers'  built-in keyboard shortcuts. I'm going to ponder this a bit more, but in any case, I think moving to a non-jQuery version (referenced in #78) is a good idea.

[2017-10-09 21:22] bradfrost opened #85 "Make keyboard shortcuts optional"
Per this conversation: https://twitter.com/melaniersumner/status/917499349038358529

It might make sense to make keyboard shortcuts an optional feature rather than a built-in one. I personally don't use them, and it sounds like there are some accessibility issues that arise with them.

@bmuenzenmeyer, do you know if keyboard shortcuts are already configurable, or would that need built? If it needs

[2017-10-09 21:24] bradfrost commented on #85
To clarify, I'm suggesting adding something like `keyboardShortcuts: false | true` as a config option. If we wanted to get extra crazy, we could let users define their own shortcuts.

[2017-10-09 21:25] bradfrost commented on #41
@EvanLovely can you investigate?

[2017-10-09 21:28] bradfrost commented on #42
@bmuenzenmeyer should this PR go as part of this repository or the plugin? It doesn't seem like it would be bad to include it as part of `styleguidekit-assets-default`

[2017-10-09 21:34] bradfrost commented on #50
Pattern Lab's instance of Typeahead is now wrapped in `.pl-c-header` to avoid collisions with user projects.

[2017-10-09 21:34] #50 closed, assigned to nobody

[2017-10-09 21:36] bradfrost commented on #51
Closing this out since the conversation has moved to #76.

[2017-10-09 21:36] #51 closed, assigned to nobody

[2017-10-09 21:41] bradfrost commented on #58
Alright, the solution I used was to wrap the star selector in `.pl-c-body {}`, which will only apply to Pattern Lab UI styles and nothing inside the iframe. It doesn't seem to break any of the PL-specific UI patterns inside the iframe, so this is addressed.

[2017-10-09 21:41] #58 closed, assigned to bradfrost

[2017-10-09 21:44] bradfrost commented on #40
I can confirm this is working properly in PL Node. Will check on PHP in a bit.

[2017-10-09 22:02] bradfrost commented on #40
I can reproduce this bug in PL PHP using the Mustache engine. Not sure the scope of the bug (is it all PHP? Just Mustache? Something else?) but I trust @EvanLovely can better answer that.

[2017-10-09 22:08] bradfrost commented on #66
Just looked at your Evernote brain dump, @sghoweri. Awesome! I think we're on the same page, and I think I've addressed most HTML/CSS-related bullets in #72.

As for the others, it would be great to convert those into issues so we could further discuss.

Aside from that, @bmuenzenmeyer what's the status of this issue?

[2017-10-09 22:08] bradfrost commented on #66
(I'm trying to organize and tag all the issues in this repo, so if it needs to stay open, what should its tag be?)

[2017-10-09 22:10] bradfrost commented on #67
With #72 more or less done, I think these items are addressed. I'm not exactly sure if that includes "Allow users to provide override templates at build time", but I'm going to close this out and we can discuss in a dedicated new issue if that still isn't addressed.

[2017-10-09 22:10] #67 closed, assigned to bmuenzenmeyer

[2017-10-09 22:26] bradfrost commented on #77
I created a new branch of of `feature-css-refactor` that removes the classList polyfill: https://github.com/pattern-lab/styleguidekit-assets-default/commit/7f38590fa0a4bd29730cb94ad591046786ef0d5d

@bmuenzenmeyer, I know you're wheeling and dealing here, so I'll leave it to you to merge this in as you see fit.

[2017-10-09 22:27] bradfrost commented on #78
TODO: turn these non-jQuery suggestions into actionable tasks

[2017-10-09 22:28] bradfrost commented on #80
What tag would fit this issue?

[2017-10-10 04:03] bmuenzenmeyer commented on #42
@bradfrost this PR should be merged to enable future plugin enhancements (such as the one I linked above), and / or allow core Pattern Lab implementations to hide panels by default.

It's important to note that ADDING panels is something more difficult to make happen by default, because it requires pre-processing of source (hence the plugin), whereas removal is an after-the-fact hiding.

tldr; we

[2017-10-10 04:13] bmuenzenmeyer commented on #80
@bradfrost what? oh, label. um not needed. it's done

[2017-10-10 04:46] bmuenzenmeyer commented on #80
closed with c1c8b01e2cf66801b66e18881cb0315d704f6a9f

[2017-10-10 04:46] #80 closed, assigned to bmuenzenmeyer

[2017-10-10 05:03] bmuenzenmeyer opened #86 "Menu triangles do not render correctly on Windows"
The triangle referenced below do not render correctly on Windows.
Chrome, Firefox, IE11

[code]

![image](https://user-images.githubusercontent.com/298435/31370029-1764c692-ad4e-11e7-82b8-0667a0bff8ea.png)

[2017-10-10 05:04] bmuenzenmeyer opened #87 "Panel sections have unwanted scrollbars on Windows"
![image](https://user-images.githubusercontent.com/298435/31370096-91190958-ad4e-11e7-950e-1048376ca497.png)

[2017-10-10 05:27] bmuenzenmeyer opened #88 "Add npm shield"

[2017-10-10 05:30] #88 closed, assigned to bmuenzenmeyer

[2017-10-10 05:33] bmuenzenmeyer commented on #77
so this is ready? i sent an email with a pretty major simplifcation of work.

[2017-10-10 05:34] bmuenzenmeyer commented on #67
basically, allow someone to do this inside `patternlab-config.json` https://github.com/pattern-lab/patternlab-node/issues/683 - circumventing the need to fork this repo for simple markup changes (especially if we support a custom CSS file via the `theme` object

[2017-10-10 05:38] bmuenzenmeyer commented on #66
@bradfrost the milestone here: https://github.com/pattern-lab/styleguidekit-assets-default/milestone/1 is intended to track all work towards our next level near-term vision, based off of conversations started in August. This issue was created because Github has 💩 support for markdown inside a milestone's description, so by convention I have gotten used to creating a summary issue within the milest

[2017-10-10 05:38] bmuenzenmeyer commented on #66
labeling spec writeup needed as we need to get trailing docs on this once dust settles, most likely

[2017-10-10 05:44] bmuenzenmeyer commented on #85
@bradfrost

 they are hard-coded and found within https://github.com/pattern-lab/styleguidekit-assets-default/blob/7942f01da25a9591a44f131971f3f3ad029dfca6/src/js/styleguide.js

search on `jwerty.key`

a config entry of any name can be used to conditionally bind all these calls

[2017-10-10 05:44] bmuenzenmeyer commented on #85
labeling spec writeup needed because if a new config entry is added, both PL Node and PHP need to expose it to the client

[2017-10-10 07:52] ba55ie commented on #38
OK, thanks for the heads up. Too bad that the usage of access keys still causes problems after so many years...

[2017-10-10 22:51] bradfrost commented on #42
@bmuenzenmeyer Awesome sounds good! I saw you self-assigned that PR, so I'll leave you to it.

[2017-10-10 23:05] bradfrost opened #90 "Remove dev branch"
I noticed there's both a `develop` and a `dev` branch in this repo. `dev` hasn't been updated in a long while. https://github.com/pattern-lab/styleguidekit-assets-default/tree/dev

Should that be killed?

[2017-10-10 23:09] bradfrost commented on #86
I replaced the ▼ character with the ISO equivalent here: https://github.com/pattern-lab/styleguidekit-assets-default/commit/8b999bd6a0a1495d94faadd7036b87bf2615c369

I'm traveling so don't have access to a Windows machine, but it looks good on Browsersack:

<img width="281" alt="screen shot 2017-10-11 at 12 07 37 am" src="https://user-images.githubusercontent.com/383701/31414966-60b99d5c-ae18-11e7

[2017-10-10 23:11] bradfrost commented on #87
Strange, I set `-ms-overflow-style: -ms-autohiding-scrollbar;` for all the appropriate selectors, which is working appropriately in Browserstack. Can you give a bit more context regarding browser version?

[2017-10-10 23:12] bradfrost commented on #77
This is ready. From now on, I'll use the proper methods!

[2017-10-10 23:33] bmuenzenmeyer commented on #90
I was going to last night but there are pending prs that need to be merged
first

On Tue, Oct 10, 2017, 6:06 PM Brad Frost <notifications@github.com> wrote:

[2017-10-11 13:08] bmuenzenmeyer commented on #86
looks good now. Thanks Brad

[2017-10-11 13:08] #86 closed, assigned to bradfrost

[2017-10-11 13:13] bmuenzenmeyer commented on #87
Windows 10
Chrome: Version 61.0.3163.100 (Official Build) (64-bit)

also worth noting I am seeing them on the main window too

![image](https://user-images.githubusercontent.com/298435/31442407-f76efd3a-ae5b-11e7-91fc-a5504981cdca.png)

[2017-10-16 04:16] EvanLovely commented on #70
not live, but lots is being experimented with this

[2017-10-16 05:18] EvanLovely commented on #84
https://github.com/pattern-lab/the-spec/issues/34

[2017-10-16 05:20] EvanLovely commented on #74
I think the cacheBuster is all you need!

[2017-10-16 05:27] EvanLovely commented on #66
I'd really like to get support for `links` and `tags` as discussed here: https://github.com/pattern-lab/the-spec/issues/34

I could see `tags` just being a list of `<span>`s right after `state` and having `data-pl-tags="tag1 tag2"` as an attribute on the wrapping pattern and menu item. This is mainly for future use or hooks on plugins.

`links` should be a list of `<a href="{{ url }}" target="_bla

[2017-10-17 12:13] bmuenzenmeyer commented on #66
enhancing the current search to also bring back results by tag, or have dedicated tag pages would be an amazing addition to the navigation capabilities.

love it!

@bradfrost perhaps you can mock up what some of  these ideas would look like?

[2017-10-18 15:15] bradfrost opened #91 "Add config options for themes"
Right now we have the following theme options that are ready to ship. We need to add config options for the following options that get appended to PL's `pl-c-body`:

- `pl-c-body--theme-light` - this is the light theme, which sets PL's header and modal to a white background with dark gray text.
- `pl-c-body--theme-density-cozy` increases PL's header font size and padding so PL things are a bit mor

[2017-10-18 19:26] bmuenzenmeyer commented on #91
hmm, yeah since that isnt a template at all (rather, just plain HTML), we may need to pursue a different approach or refactor this a bit

will think on it - i know how we could do it in short order, as long as you are okay with a potentially momentary flash of the default ui ?

[2017-10-19 12:51] bmuenzenmeyer commented on #91
candidates for this code would be `styleguide.js` or `layout.js`. both should have access to the provided config

[2017-10-19 13:01] bradfrost commented on #91
Are you saying the code should live in one of those two files? I didn't want to tackle a giant refactoring of JS, but like the SCSS file structure, the JS could afford to be chunked out into more modular chunks. I'd be curious to hear if you also think that's a good idea, but personally I would make a new `themes.js` file or something that handles the functions. `styleguides.js` should be about 5

[2017-10-19 13:17] bmuenzenmeyer commented on #91
I have no shortterm desire to further refactor the frontend javascript or template engines. I think it amounts bikeshedding, and may only be necessary when we look into the JSON schema feature, if at all.

I am saying that the easiest path forward, avoiding major refactor (since the `index.html` is not a template that gets compiled with data), would be to have the existing javascript code read fro

[2017-10-19 13:38] bmuenzenmeyer commented on #91
I should read that more closely too. sorry. we can definitely place the new logic in a new file. the build process should concatenate it all together anyways. I think the larger thing to figure out is whether it will be fast enough to avoid an ugly UX. If there is a problem, we will to get more creative.

[2017-10-19 13:58] bradfrost commented on #91
Sounds good. We're on the same page.

Yeah, I guess my server-side rendering brain immediately went to Mustache hooks for the theme stuff to avoid flashes of default theme before config options get loaded in. Of course, I have no idea what the level of effort is to achieve that. I will say this is relevant to other not-too-distant things like user-defined PL CSS, user-defined logos, and other thin

[2017-10-19 16:03] bradfrost commented on #66
Can do! Going to make an issue that starts laying out my priorities, because as you all know there's a lot that can be done.

[2017-10-19 16:42] bradfrost opened #92 "UI Priorities"
Here's a basic list of UI priorities for me:

- [x] Light theme - creates a white background version of PL's header/modal
- [x] Density themes - creates comfortable and cozy themes that make PL's header more prominent
- [x] Sidebar theme - transforms PL's header to a sidebar
- [ ] Style guide theme - Creates a UI that's more attractive to a general audience. Exposes all pattern info by default, re

[2017-10-19 16:43] bradfrost commented on #92
Oh! And of course, the JSON schema functionality is a huge thing.

[2017-10-19 20:23] bmuenzenmeyer commented on #91
@bradfrost check out that branch. not perfect. but something!

[2017-10-19 21:05] EvanLovely commented on #91
OK, `config.theme` is exposed to use on the PHP side.

[2017-10-19 21:36] EvanLovely commented on #91
I've also got a PR up for implementing this: #93

@bmuenzenmeyer Does yours fire before render or after? As in: do you see the UI move around?

[2017-10-19 21:37] EvanLovely commented on #91
@bradfrost Re:

It's gotta be JS as the config is in JS and that HTML isn't a template that gets passed data from config.

[2017-10-19 21:55] bmuenzenmeyer commented on #91
@EvanLovely let's go with your PR. My js file solution caused a flash,  at least in my quick test.

[2017-10-19 22:02] bmuenzenmeyer commented on #91
In the future we should try to coordinate better too :)

[2017-10-20 15:47] EvanLovely commented on #91
👍🏼 On both comments

[2017-10-24 02:06] #87 closed, assigned to bradfrost

[2017-10-24 02:14] bmuenzenmeyer opened #95 "Pattern States Do No Render Correctly on Windows"
![image](https://user-images.githubusercontent.com/298435/31921846-1732f6be-b837-11e7-83c5-e4d5a891b443.png)

[2017-10-24 02:17] bmuenzenmeyer opened #96 "Additional Strange CSS Unicode Problems"
![image](https://user-images.githubusercontent.com/298435/31921907-7af3ee74-b837-11e7-8864-9a5292281188.png)

![image](https://user-images.githubusercontent.com/298435/31921912-7fafc064-b837-11e7-8ab5-11b52087ef86.png)

[2017-10-24 02:24] bmuenzenmeyer opened #97 "Update README shield with scoped package"
https://www.npmjs.com/package/@pattern-lab/styleguidekit-assets-default

[2017-10-24 02:29] bmuenzenmeyer commented on #77
closed via https://github.com/pattern-lab/styleguidekit-assets-default/releases/tag/v4.0.0-alpha.2

[2017-10-24 02:29] #77 closed, assigned to bradfrost

[2017-10-24 02:30] bmuenzenmeyer commented on #91
closed via https://github.com/pattern-lab/styleguidekit-assets-default/releases/tag/v4.0.0-alpha.2

awesome work @bradfrost and @EvanLovely

[2017-10-24 02:30] #91 closed, assigned to bmuenzenmeyer, bradfrost, EvanLovely

[2017-10-25 11:25] atu-record opened #98 "maxViewPortWidth gets overwritten in styleguide.js and prevents Full view"
as ishViewportRange is defined by default  in
**pattern-lab/core/config/config.yml.default** on line 48

pressing the full width button in the styleguide always causes to resize maximal to 1200.

styleguide.js line 24

[code]

[2017-10-25 15:30] bmuenzenmeyer commented on #98
I am having no problems with Pattern Lab Node

my config

[code]

clicking `full` brings ish viewport to currentviewport

no ishMaximum defined

[2017-10-26 18:25] atu-record commented on #98
@bmuenzenmeyer of course if i define the config, like you did ... it resizes to maximum vieport size.
but by default i does not work. i guess i does not matter if you use node or php ... its a an styleguide.js issue

[2017-10-27 02:49] bradfrost commented on #96
Very strange! The right-facing arrow makes sense, but the block-level comment shouldn't be doing that. Will take a look.

[2017-10-27 02:49] bradfrost commented on #96
@bmuenzenmeyer for these changes, what branch should I be working in? I want to make sure I'm on the straight and narrow.

[2017-10-27 11:59] bmuenzenmeyer commented on #96
@bradfrost branching off `develop` works just fine.

I tried to document this within https://github.com/pattern-lab/styleguidekit-assets-default/blob/master/.github/CONTRIBUTING.md#guidelines - let me know if you think we could improve that anywhere

[2017-10-31 12:27] bmuenzenmeyer commented on #98
fixed via https://www.npmjs.com/package/styleguidekit-assets-default 3.5.2

[2017-10-31 12:27] #98 closed, assigned to nobody

[2017-10-31 21:26] bradfrost commented on #96
@bmuenzenmeyer The contributing guidelines are good. I guess I'm trying to figure out if this small change would necessitate its own branch, or could that work happen right on `develop`? That's typically how I operate with git flow, but just want to make sure I'm following conventions.

[2017-11-02 08:36] atu-record commented on #98
seems it is not availabe via composer

- The requested package pattern-lab/styleguidekit-twig-default ^3.5 exists as pattern-lab/styleguidekit-twig-default[dev-dev, dev-master, dev-release/3.x, v0.5.0, v0.5.1, v0.5.4, v0.5.5, v0.6.0, v0.6.1, v0.6.2, v0.6.3, v0.6.4, v0.6.5, v2.0.0, v2.0.1, v3.0.0] but these are rejected by your constraint.

[2017-11-02 12:33] bmuenzenmeyer commented on #98
styleguidekit-twig-default is not a repo I was aware of until just now.

this fix was for the official cross-platform mustache assets

[2018-01-04 17:08] frostyweather commented on #96
@bmuenzenmeyer Is this within `dist` that you are seeing this? I am not seeing it on my pulled down version of this.

[2018-01-04 17:47] bmuenzenmeyer commented on #96
@frostyweather yes I see it in dist. I suspect it only manifests on Windows, since you guys haven't had problems yet right?

[2018-01-04 22:02] frostyweather commented on #96
@bmuenzenmeyer I have not had problems. Must be a windows thing. Maybe this sort of issue. https://stackoverflow.com/questions/44334638/css-content-character-rendering-strange

[2018-01-08 23:39] bradfrost opened #103 "Displaying theme object inside of PL files"
@bmuenzenmeyer @EvanLovely:

This is likely a Very Dumb Question from Brad, but here it goes: I see that the `theme` object is available in the browser (if I open the console and type `theme` it returns the object); how do I get the info within `theme` to display in, say, `html/partials/header.html`?

I know we are using Hogan to render our templates, but I'm scratching my head why adding `{{ them

[2018-01-09 00:20] bradfrost opened #104 "'storefront' mode architecture?"
I'm beginning to think through how the [storefront](http://bradfrost.com/blog/post/the-workshop-and-the-storefront/) mode (essentially a style guide mode used for documenting patterns and documentation rather than for tinkering with pattern code) within Pattern Lab will work, and I'm writing this as a question/start of a conversation.

In essence, the style guide mode for a component detail will [

[2018-01-09 13:55] bmuenzenmeyer commented on #103
@bradfrost It's not a dumb question at all.

Take a look at the commit above on the `theme-in-header` branch - the partial was not being processed as a Hogan template, like some of its siblings were. It was only being included using the code here: https://github.com/pattern-lab/styleguidekit-assets-default/blob/develop/gulpfile.js#L59

Anyway, I committed it with obviously poor UX of actually disp

[2018-01-09 16:46] bradfrost commented on #103
@bmuenzenmeyer Thanks a ton for this! This all makes sense to me.

Forgive me, I still feel like I'm all thumbs with this process. Can I just work in `theme-in-header` for now for this stuff?

[2018-01-09 17:06] bmuenzenmeyer commented on #103
You betcha.

[2018-01-09 18:02] bradfrost commented on #103
Cool, thanks @bmuenzenmeyer. I've committed changes here: https://github.com/pattern-lab/styleguidekit-assets-default/commit/1b9b4a031ae16d73b036d3df5e90d6d1373dccb7

Any way you could give a quick glance and a thumbs up just to see if I'm not screwing things up? With so many branches and stuff swirling around, I'm still struggling to get my head around where I should be doing work. Sorry for bein

[2018-01-09 18:46] bmuenzenmeyer commented on #103
@bradfrost  👍

[2018-01-09 18:51] bradfrost commented on #103
Awesome thanks!

[2018-01-10 02:54] bmuenzenmeyer commented on #104
Hey Brad - thanks for starting this conversation - I definitely want to frame it up soon. I have a general outline in my head - hopefully you can stand to wait a few days?

[2018-01-10 03:41] bradfrost commented on #104
@bmuenzenmeyer yeah, absolutely! Definitely interested in hearing your ideas. I'll do my best to draw out some of the ideas tumbling around in my head.

[2018-01-10 17:13] bradfrost commented on #103
Alright, I may have closed this too soon. Next thing I need to do is to get stuff inside the iframe listening to the config. Is that possible/easy?

[2018-01-10 21:27] bmuenzenmeyer commented on #103
as in, individual patterns?

[2018-01-10 21:40] bradfrost commented on #103
As in, inside the `viewall` template and individual patterns. Basically anything that's inside the iframe.

[2018-01-11 17:22] frostyweather commented on #96
Changed the arrow to Unicode value in CSS within the `feature-pattern-info-panel` branch. Hopefully this fixes this issue

[2018-01-11 17:26] frostyweather commented on #79
![pattern-panel-resize](https://user-images.githubusercontent.com/13662843/34838027-a07b5ca0-f6ca-11e7-80ce-64b538452080.gif)
Added this within `feature-pattern-info-panel` branch. Here's a gif to show that it is working

[2018-01-11 17:36] frostyweather commented on #79
Also as a note, I made the styling of it similar to that of the width resizer. Wasn't sure if we were going to add an svg or anything to these to show that these are resizable or leave them gray and bland on purpose

[2018-01-11 17:39] frostyweather commented on #83
This has been taken care of. The content will always stay above the panel and the overflow will be scrollable.
![pattern-panel-layout](https://user-images.githubusercontent.com/13662843/34838531-6a8208ea-f6cc-11e7-917c-bdc686e71d12.gif)

[2018-01-11 17:39] #83 closed, assigned to bradfrost, frostyweather

[2018-01-11 22:17] frostyweather commented on #20
Added clipboard.min.js library to PL. Added clipboard functionality to the code on both the single pattern page and the viewall (within the iframe).
![pattern-copy](https://user-images.githubusercontent.com/13662843/34850291-3f0b8e62-f6f3-11e7-8bec-9ebe31f257e5.gif)

[2018-01-11 22:19] frostyweather commented on #20
And the view
![pattern-copy-viewall](https://user-images.githubusercontent.com/13662843/34850385-8d60d16c-f6f3-11e7-9a8c-03bdaf1b116e.gif)
all mode

[2018-01-11 22:20] frostyweather commented on #20
I think the only thing left to do with this is change the "Copied" text back to "Copy" when another copy button is clicked so the user isn't confused

[2018-01-11 22:37] frostyweather commented on #20
Alright, made sure the only copied content had copied for the button text. The rest change back to Copy. This is within `feature-pattern-info-panel` branch

[2018-01-12 16:25] #20 closed, assigned to bradfrost, frostyweather

[2018-01-12 16:33] frostyweather opened #105 "`<code>` ids are the same for both mustache and html"
For the `<code>` ids, both the `mustache` and `html` panels are using the `{{ language}}` of `html`. We'd want the `id` for the mustache to be `pl-code-fill-mustache` and the id for the html to be `pl-code-fill-html`.

[2018-01-12 17:01] frostyweather commented on #79
This is working in the `feature-pattern-info-panel` branch. Going to close now

[2018-01-12 17:01] #79 closed, assigned to bradfrost

[2018-01-13 07:58] bmuenzenmeyer commented on #20
Great work @frostyweather - I will merge this asap.

[2018-01-13 07:59] bmuenzenmeyer commented on #79
Great work @frostyweather - I will merge this asap.

[2018-01-13 07:59] bmuenzenmeyer commented on #83
Great work @frostyweather - I will merge this asap.

[2018-01-13 17:54] bradfrost commented on #20
@bmuenzenmeyer Worth pointing out I'm going to do some style cleanup on this, but that will likely just be touching CSS.

[2018-01-15 19:05] frostyweather opened #106 "PL header vertically off-center/settings gear off-center in Safari"
PL Header is off-center in Safari. Needs fixed
![screen shot 2018-01-15 at 2 03 36 pm](https://user-images.githubusercontent.com/13662843/34957792-0c658280-f9fd-11e7-96d9-2412a2c73077.png)

[2018-01-15 22:01] frostyweather commented on #6
The fix for not being able to scroll to the bottom of the viewport has already been addressed. Here is an animated gif of the proper functionality that is already in develop.
![annotations](https://user-images.githubusercontent.com/13662843/34963271-9bb86a16-fa15-11e7-94e1-9189f9fb1c06.gif)

[2018-01-15 22:01] #6 closed, assigned to bmuenzenmeyer

[2018-01-15 22:05] frostyweather commented on #20
@bmuenzenmeyer @bradfrost These have been styled properly now. This can be merged into develop now @bmuenzenmeyer

[2018-01-15 22:12] bradfrost commented on #32
Alrighty, @frostyweather and I dove into this, and it has to do with the specific animation used on the [progress pattern](http://demo.patternlab.io/?p=atoms-progress). Once the animation is finished, the flickering goes away and everything behaves normally. We weren't able to reproduce this on any other Pattern Lab project, so closing this out.

[2018-01-15 22:12] #32 closed, assigned to bradfrost, frostyweather

[2018-01-15 22:40] bradfrost opened #107 "Fix tabindex for PL header dropdown"
Right now, the `tabindex` for all pattern navigation is weird and incomplete. Users have to tab through all of the links in a dropdown menu, even if the dropdown is hidden.

We need to create a more accessible dropdown, [a la this Codepen](https://codepen.io/grayghostvisuals/pen/ltjDa).

The user should be able to focus on "atoms" (or whatever the topmost category is) and use the left and right ke

[2018-01-15 23:20] bradfrost commented on #41
This looks like it's closed per https://github.com/pattern-lab/patternlab-php-core/pull/102

Feel free to reopen if this is still an issue.

[2018-01-15 23:20] #41 closed, assigned to EvanLovely

[2018-01-26 17:07] mikejw commented on #72
I am new to Pattern Lab and super excited by it (and atomic design in general) and I'm attempting to get to grips with the PHP version by learning it inside out.

I have no qualms about running gulp or grunt tasks to get the frontend assets in place and reusing a similar workflow when "regenerating".

However, how do I make sure pattern-lab.css is there in the first place?

You can trace and and r

[2018-01-27 23:25] bradfrost commented on #104
Closing this out as we're moving this to its own discussion over here: https://github.com/pattern-lab/the-spec/issues/38

[2018-01-27 23:25] #104 closed, assigned to nobody

[2018-01-29 16:29] mooddesign opened #108 "Adding Customized States does not work"
First of all, thanks for the great work, folks!

I'm currently evaluating Pattern Lab (Edition Node Gulp) for a use case at my current employer.
Besides some other minor issues that I'm experiencing I'm trying to use customized states ("production" in the screenshots, green dot) for components as stated here: http://patternlab.io/docs/pattern-states.html. And they are not showing up.

---

**Scree

[2018-01-29 17:07] mooddesign commented on #108
But I could probably just rewrite some gulp tasks, right?

[2018-01-29 17:24] bradfrost commented on #108
Hey @mooddesign! I'm not sure if the latest and greatest version of how we're handling pattern states has made it into `master` yet (@bmuenzenmeyer, did the latest UI changes make it in yet? I can't remember). Judging by the screenshots you shared, I don't know if it has been updated.

In any case, I think there's still a bit of work to be done to expose custom pattern states and control their sty

[2018-01-29 17:25] bradfrost commented on #108
I forgot to mention there are certainly ways to hack things to get custom values to show up in the interim!

[2018-01-29 17:27] mooddesign commented on #108
Thanks for the reply @bradfrost: I think I'm trying out the gulp way then, taking https://medium.com/buildit/taking-patternlab-modularity-to-the-next-level-774b06c8bf6f as inspiration.

[2018-01-29 17:29] bradfrost commented on #108
Thanks! Also worth pointing out that "complete" is essentially "production". Once again, we should be a bit better at exposing/customizing these labels. Thanks for the patience and lemme know how you get on!

[2018-01-29 18:56] bmuenzenmeyer commented on #108
The official docs falter in this exact respect, but this might be of interest to you: https://github.com/bmuenzenmeyer/plugin-node-uiextension

One of the use cases of this plugin was supporting this very use case in a roundabout way, since as you mention, the `pattern-scaffolding.css` wasn't included directly in the outer most window of PL.

The UI is changing significantly in the next few months

[2018-01-30 16:57] mooddesign commented on #108
Basically I now merge the **styleguide.min.css** with my custom styles and overwrite what's in the public/styleguide folder. That's of course far from perfect, but works for a simple showcase.

[2018-01-30 17:01] bradfrost commented on #108
@mooddesign Glad you were able to get something operational, and thanks for flagging the issue. We'll smooth this out soon!

[2018-02-16 19:24] bmuenzenmeyer commented on #90
deleted

[2018-02-16 19:24] #90 closed, assigned to bmuenzenmeyer

[2018-02-16 19:54] bmuenzenmeyer commented on #97
done as part of https://github.com/pattern-lab/styleguidekit-assets-default/releases/tag/v4.0.0-alpha.3

[2018-02-16 19:54] #97 closed, assigned to nobody

[2018-03-06 23:58] illycz commented on #77
classList.min.js file is still linked from template: https://github.com/pattern-lab/styleguidekit-assets-default/blob/develop/src/html/index.html#L72

[2018-05-24 20:20] evanmwillhite commented on #92
The frontend team at my company has been discussing creating a new UI for Pattern Lab this year. I wasn't necessarily thinking this would be _the_ UI, just _a_ UI that we could offer to the Pattern Lab community. Before we start on a separate project though, is there work being done that we should tap into? Where have these items with checkmarks above been done? Thanks!

[2018-05-25 14:15] bmuenzenmeyer commented on #92
hi @evanmwillhite good to hear from ya!

The PL Node space now offers support for multiple UIs to be built from a single set of base patterns. We call them UIKits. Learn more about them at https://github.com/pattern-lab/patternlab-node/pull/840

You'll see that in an attempt to kickstart users in their UI journeys, I created https://github.com/pattern-lab/uikit-bare which attempts to give you a cl

[2018-05-29 14:40] evanmwillhite commented on #92
Thanks @bmuenzenmeyer! I am excited to jump into this. Is this something we could (/should?) port to the PHP ecosystem or is that going away?

[2018-05-29 21:46] sghoweri commented on #92
@evanmwillhite fwiw, our design system team is operating under the idea that at some point Pattern Lab PHP and Pattern Lab Node will eventually merge together once a lot of implementation details are worked out — full support of PHP-written Twig extensions + Twig namespaces being two of the larger ones.

That said, “eventually” doesn’t address a lot of the friction the _current_ iteration of the U

[2018-05-30 18:33] evanmwillhite commented on #92
Hey @sghoweri! This sounds good, and it makes me wonder if we should help with this work you've described instead of creating a new UI. Any specific issues you think the Four Kitchens team might be able to help with?

[2018-05-30 18:51] bradfrost commented on #92
Heya! Just hopping in here to say I'd love to be a part of these conversations. What we're trying to do is create a flexible UI architecture that allows teams to customize UIs to their needs. I wrote more about that initiative over here: https://github.com/pattern-lab/the-spec/issues/38

So yeah! I'd love to hear/see what everyone's wanting to accomplish, and let's find a way to put our heads toge

[2018-05-31 12:45] bmuenzenmeyer commented on #92
@evanmwillhite

I have no intention of doing this, but as @sghoweri mentioned people are welcome to continue contributing to this repo should they find value in its featureset and stability. I am more focused on stabilizing the PL Node 3.0.0 release, which includes consuming this repo in our [monorepo](https://github.com/pattern-lab/patternlab-node/tree/master/packages) as `uikit-workshop`. I have

[2018-06-04 21:52] sghoweri commented on #92
I think I could use a bit of feedback on where we’re at so far before doing anything too crazy 😉

For example, the first round of things I’ve been chipping away at is meant to give us a solid base to work off of **first**, before digging into the fun net new stuff (like porting over some of the UI to be custom elements)... just not sure if this stuff is valuable enough to get some RFCs up or bette

[2018-06-11 17:35] bradfrost commented on #92
@sghoweri There's a lot here, and thanks for doing all this!

I'm very much invested in the UI-specific stuff, and just want to make sure that any of this work (for instance changing tab links to buttons) is done across the board and works with the architecture @bmuenzenmeyer put in place.

As I see it, the JS stuff is all well out of my grasp and I realize there's a lot to untangle there. But I'm

[2018-06-14 12:11] sghoweri commented on #92
@bradfrost most certainly - totally agree!

Ensuring compatibility with the rest of the ecosystem is one of my top priorities here so naturally I'll want to make sure we test the crap out of this (and refactor anything if need be) before putting together a formal PR for all this.

We're still iterating like crazy on the UI we're pushing to have Pattern Lab work hand in hand with for our own design

[2018-06-14 15:31] bradfrost commented on #92
@sghoweri YEAH BUDDY. That looks fantastic, congrats! And absolutely looking forward to working with you to get all this great stuff into the PL project.

[2018-07-17 21:06] DanielRuf opened #113 "migrate away from bower"
Currently bower is still used but we should move to yarn or npm.

[2018-07-17 22:31] bmuenzenmeyer commented on #113
Duplicate of #76

[2018-07-17 22:31] #113 closed, assigned to nobody

[2018-07-18 11:07] sghoweri commented on #76
@bmuenzenmeyer @EvanLovely trying to get my ducks in a row on this (busy week!) but for what it’s worth I think I’ve got the work needed to be done on this already figured out for a while now, just need to get the PR specific bits to this put together (and likely fold in the build tools updates at the same time given the overlapping dependencies):

https://github.com/bolt-design-system/bolt/tree/e

[2020-02-20 19:44] maxleistner commented on #75
Is this still a thing? I tried it with the new Node 3.0 version, but it does not work. The PL logo is still present. :) Thanks!

[code]

[2020-02-20 21:46] bmuenzenmeyer commented on #75
@sghoweri I know name is... I'm trying to recall what new stuff has cooked up

[2020-02-20 21:53] bmuenzenmeyer commented on #75
See https://github.com/pattern-lab/patternlab-node/pull/1078

[2020-02-20 21:54] bmuenzenmeyer commented on #75
Closed via https://github.com/pattern-lab/patternlab-node/pull/1078

[2020-02-20 21:54] #75 closed, assigned to bradfrost

[2020-02-20 21:55] bmuenzenmeyer opened #115 "INTENT TO ARCHIVE"
Need to think about this more, but it might be time to archive this in favor of everything in the monorepo